<a href="https://colab.research.google.com/github/AI01010/HackAI/blob/main/HackAI_SauceBros_Challenge_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Necessary Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Dataset

In [2]:
#Mounting the drive
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
file_path_menu_breakdown = '/content/drive/My Drive/menu-breakdown-jan1-dec31-2023.csv'
df_menu_breakdown = pd.read_csv(file_path_menu_breakdown)

file_path_sales_2025 =  '/content/drive/My Drive/sales-by-date-jan1-apr18-2025.csv'
df_sales_2025 = pd.read_csv(file_path_sales_2025)

file_path_sales_2023_part1 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2023.csv'
df_sales_2023_part1 = pd.read_csv(file_path_sales_2023_part1)

file_path_sales_2023_part2 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2023 (1).csv'
df_sales_2023_part2 = pd.read_csv(file_path_sales_2023_part2)

file_path_sales_2024 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2024.csv'
df_sales_2024 = pd.read_csv(file_path_sales_2024)

file_path_sales_time_2023 = '/content/drive/My Drive/sales-by-time-jan1-dec31-2023.csv'
df_sales_time_2023 = pd.read_csv(file_path_sales_time_2023)

file_path_sales_time_2024 = '/content/drive/My Drive/sales-by-time-jan1-dec31-2024.csv'
df_sales_time_2024 = pd.read_csv(file_path_sales_time_2024)

file_path_sales_time_2025 = '/content/drive/My Drive/sales-by-time-jan1-apr18-2025.csv'
df_sales_time_2025 = pd.read_csv(file_path_sales_time_2025)

file_path_sales_item_2023 = '/content/drive/My Drive/Item Sales 2023-01-01 - 2023-12-31.csv'
df_sales_item_2023_copy = pd.read_csv(file_path_sales_item_2023)

file_path_sales_item_2024 ='/content/drive/My Drive/Item Sales 2024-01-01 - 2024-12-31.csv'
df_sales_item_2024 = pd.read_csv(file_path_sales_item_2024)

#Data Overview

In [ ]:
print(df_menu_breakdown)

                          Sales Category       Item Name  Modifier  \
No Sales Category                    NaN             NaN       NaN
No Sales Category  Naga Habanero Chicken             NaN       NaN
No Sales Category  Naga Habanero Chicken  light cilantro       NaN
No Sales Category  Naga Habanero Chicken        Jalapeno       NaN
No Sales Category  Naga Habanero Chicken       Pepperoni       NaN
...                                  ...             ...       ...
Pizza                          Hot Honey             NaN       NaN
Pizza                 Red Peppers Bags 3             NaN       NaN
Pizza                         Side Basil             NaN       NaN
Pizza                      Side Cilantro             NaN       NaN
Pizza                            Soda 2L             NaN       NaN

                   Unnamed: 3  Avg Price  Quantity  Gross Sales  \
No Sales Category   16.230000     5119.0  83106.70          0.0
No Sales Category   22.333365      542.0  12025.89          0.0
No Sales Category         NaN        1.0      0.00          0.0
No Sales Category         NaN       15.0     14.85          0.0
No Sales Category         NaN       12.0     35.88          0.0
...                       ...        ...       ...          ...
Pizza                1.629344       81.0    129.19          0.4
Pizza                0.840000        7.0      6.13          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                3.990000       10.0     39.90          0.0

                   Discount Amount  Net Sales
No Sales Category         83106.70        NaN
No Sales Category         12025.89        NaN
No Sales Category             0.00        NaN
No Sales Category            14.85        NaN
No Sales Category            35.88        NaN
...                            ...        ...
Pizza                       126.80        NaN
Pizza                         6.13        NaN
Pizza                         0.50        NaN
Pizza                         0.50        NaN
Pizza                        39.90        NaN

[1237 rows x 9 columns]

In [ ]:
df_menu_breakdown_cleaned = df_menu_breakdown.copy()
for col in df_menu_breakdown.columns:
    if df_menu_breakdown[col].isnull().all():
        df_menu_breakdown_cleaned = df_menu_breakdown_cleaned.drop(col, axis=1)

print(df_menu_breakdown_cleaned)

                          Sales Category       Item Name  Modifier  \
No Sales Category                    NaN             NaN       NaN
No Sales Category  Naga Habanero Chicken             NaN       NaN
No Sales Category  Naga Habanero Chicken  light cilantro       NaN
No Sales Category  Naga Habanero Chicken        Jalapeno       NaN
No Sales Category  Naga Habanero Chicken       Pepperoni       NaN
...                                  ...             ...       ...
Pizza                          Hot Honey             NaN       NaN
Pizza                 Red Peppers Bags 3             NaN       NaN
Pizza                         Side Basil             NaN       NaN
Pizza                      Side Cilantro             NaN       NaN
Pizza                            Soda 2L             NaN       NaN

                   Unnamed: 3  Avg Price  Quantity  Gross Sales  \
No Sales Category   16.230000     5119.0  83106.70          0.0
No Sales Category   22.333365      542.0  12025.89          0.0
No Sales Category         NaN        1.0      0.00          0.0
No Sales Category         NaN       15.0     14.85          0.0
No Sales Category         NaN       12.0     35.88          0.0
...                       ...        ...       ...          ...
Pizza                1.629344       81.0    129.19          0.4
Pizza                0.840000        7.0      6.13          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                3.990000       10.0     39.90          0.0

                   Discount Amount
No Sales Category         83106.70
No Sales Category         12025.89
No Sales Category             0.00
No Sales Category            14.85
No Sales Category            35.88
...                            ...
Pizza                       126.80
Pizza                         6.13
Pizza                         0.50
Pizza                         0.50
Pizza                        39.90

[1237 rows x 8 columns]

#Sales by Date

In [ ]:
print(df_sales_2025.info())
print(df_sales_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 01/01/2025 to 04/18/2025
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       108 non-null    datetime64[ns]
 1   Net Sales  108 non-null    int64
 2   Orders     108 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 8.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2025 1970-01-01 00:00:00.000000000          0       0     NaN
01/02/2025 1970-01-01 00:00:00.000000347         11      11     NaN
01/03/2025 1970-01-01 00:00:00.000000871         18      18     NaN
01/04/2025 1970-01-01 00:00:00.000000447         15      15     NaN
01/05/2025 1970-01-01 00:00:00.000000823         25      25     NaN
...                                  ...        ...     ...     ...
04/14/2025 1970-01-01 00:00:00.000000000          0       0     NaN
04/15/2025 1970-01-01 00:00:00.000000669         24      24     NaN
04/16/2025 1970-01-01 00:00:00.000000458         15      15     NaN
04/17/2025 1970-01-01 00:00:00.000000784         26      26     NaN
04/18/2025 1970-01-01 00:00:00.000001158         36      36     NaN

[108 rows x 4 columns]

In [ ]:
df_sales_2025['Date'] = pd.to_datetime(df_sales_2025['Date'])
print(df_sales_2025.info())
print(df_sales_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 01/01/2025 to 04/18/2025
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       108 non-null    datetime64[ns]
 1   Net Sales  108 non-null    int64
 2   Orders     108 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 8.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2025 1970-01-01 00:00:00.000000000          0       0     NaN
01/02/2025 1970-01-01 00:00:00.000000347         11      11     NaN
01/03/2025 1970-01-01 00:00:00.000000871         18      18     NaN
01/04/2025 1970-01-01 00:00:00.000000447         15      15     NaN
01/05/2025 1970-01-01 00:00:00.000000823         25      25     NaN
...                                  ...        ...     ...     ...
04/14/2025 1970-01-01 00:00:00.000000000          0       0     NaN
04/15/2025 1970-01-01 00:00:00.000000669         24      24     NaN
04/16/2025 1970-01-01 00:00:00.000000458         15      15     NaN
04/17/2025 1970-01-01 00:00:00.000000784         26      26     NaN
04/18/2025 1970-01-01 00:00:00.000001158         36      36     NaN

[108 rows x 4 columns]

In [ ]:
df_sales_2025.to_csv('sales_2025_cleaned.csv', index=False)

In [ ]:
print(df_sales_2023_part1.info())
print(df_sales_2023_part1)

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2023 1970-01-01 00:00:00.000000493         15      15     NaN
01/02/2023 1970-01-01 00:00:00.000000000          0       0     NaN
01/03/2023 1970-01-01 00:00:00.000000360         12      12     NaN
01/04/2023 1970-01-01 00:00:00.000000254          9       9     NaN
01/05/2023 1970-01-01 00:00:00.000000405         16      16     NaN
...                                  ...        ...     ...     ...
12/27/2023 1970-01-01 00:00:00.000000672         17      17     NaN
12/28/2023 1970-01-01 00:00:00.000000878         24      24     NaN
12/29/2023 1970-01-01 00:00:00.000001284         32      32     NaN
12/30/2023 1970-01-01 00:00:00.000001417         43      43     NaN
12/31/2023 1970-01-01 00:00:00.000001136         31      31     NaN

[365 rows x 4 columns]

In [ ]:
df_sales_2023_part1['Date'] = pd.to_datetime(df_sales_2023_part1['Date'])
print(df_sales_2023_part1.info())
print(df_sales_2023_part1)

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2023 1970-01-01 00:00:00.000000493         15      15     NaN
01/02/2023 1970-01-01 00:00:00.000000000          0       0     NaN
01/03/2023 1970-01-01 00:00:00.000000360         12      12     NaN
01/04/2023 1970-01-01 00:00:00.000000254          9       9     NaN
01/05/2023 1970-01-01 00:00:00.000000405         16      16     NaN
...                                  ...        ...     ...     ...
12/27/2023 1970-01-01 00:00:00.000000672         17      17     NaN
12/28/2023 1970-01-01 00:00:00.000000878         24      24     NaN
12/29/2023 1970-01-01 00:00:00.000001284         32      32     NaN
12/30/2023 1970-01-01 00:00:00.000001417         43      43     NaN
12/31/2023 1970-01-01 00:00:00.000001136         31      31     NaN

[365 rows x 4 columns]

In [ ]:
df_sales_2023_part1.to_csv('sales_2023_part1_cleaned.csv', index=False)

In [ ]:
df_sales_2023_part2['Date'] = pd.to_datetime(df_sales_2023_part2['Date'])
print(df_sales_2023_part2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None

In [ ]:
df_sales_2023_part2.to_csv('sales_2023_part2_cleaned.csv', index=False)

In [ ]:
print(df_sales_2024.info())
print(df_sales_2024)

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 01/01/2024 to 12/31/2024
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    float64
 1   Net Sales  366 non-null    int64
 2   Orders     366 non-null    int64
 3   Guests     0 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 14.3+ KB
None
              Date  Net Sales  Orders  Guests
01/01/2024    0.00          0       0     NaN
01/02/2024  656.12         19      19     NaN
01/03/2024  666.52         17      17     NaN
01/04/2024  373.35         12      12     NaN
01/05/2024  817.98         24      24     NaN
...            ...        ...     ...     ...
12/27/2024  769.41         20      20     NaN
12/28/2024  759.91         23      23     NaN
12/29/2024  961.75         16      16     NaN
12/30/2024    0.00          0       0     NaN
12/31/2024  623.86         16      16     NaN

[366 rows x 4 columns]

In [ ]:
df_sales_2024['Date'] = pd.to_datetime(df_sales_2024['Date'])
print(df_sales_2024.info())

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 01/01/2024 to 12/31/2024
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    datetime64[ns]
 1   Net Sales  366 non-null    int64
 2   Orders     366 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None

In [ ]:
df_sales_2024.to_csv('sales_2024_cleaned.csv', index=False)

#Sales by Time

In [ ]:
df_sales_time_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     float64
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 640.0+ bytes

In [ ]:
df_sales_time_2023['Time'] = pd.to_datetime(df_sales_time_2023['Time'])
print(df_sales_time_2023.info())
print(df_sales_time_2023)

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     datetime64[ns]
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 640.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000380         18      18     NaN
3:00 AM  1970-01-01 00:00:00.000000035          1       1     NaN
5:00 AM  1970-01-01 00:00:00.000000025          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000000383         12      12     NaN
12:00 PM 1970-01-01 00:00:00.000008077        242     242     NaN
1:00 PM  1970-01-01 00:00:00.000006282        217     217     NaN
2:00 PM  1970-01-01 00:00:00.000007907        244     244     NaN
3:00 PM  1970-01-01 00:00:00.000011849        382     382     NaN
4:00 PM  1970-01-01 00:00:00.000017227        520     520     NaN
5:00 PM  1970-01-01 00:00:00.000031480        882     882     NaN
6:00 PM  1970-01-01 00:00:00.000037710       1098    1098     NaN
7:00 PM  1970-01-01 00:00:00.000033278        986     986     NaN
8:00 PM  1970-01-01 00:00:00.000023993        757     757     NaN
9:00 PM  1970-01-01 00:00:00.000018345        604     604     NaN
10:00 PM 1970-01-01 00:00:00.000009742        316     316     NaN
11:00 PM 1970-01-01 00:00:00.000002264         88      88     NaN

In [ ]:
df_sales_time_2023.to_csv('sales_time_2023_cleaned.csv', index=False)

In [ ]:
df_sales_time_2024['Time'] = pd.to_datetime(df_sales_time_2024['Time'])
print(df_sales_time_2024.info())
print(df_sales_time_2024)

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       19 non-null     datetime64[ns]
 1   Net Sales  19 non-null     int64
 2   Orders     19 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 760.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000098          3       3     NaN
1:00 AM  1970-01-01 00:00:00.000000029          1       1     NaN
3:00 AM  1970-01-01 00:00:00.000000071          1       1     NaN
4:00 AM  1970-01-01 00:00:00.000000033          1       1     NaN
7:00 AM  1970-01-01 00:00:00.000000242          1       1     NaN
10:00 AM 1970-01-01 00:00:00.000000024          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000000773         20      20     NaN
12:00 PM 1970-01-01 00:00:00.000009594        247     247     NaN
1:00 PM  1970-01-01 00:00:00.000007811        202     202     NaN
2:00 PM  1970-01-01 00:00:00.000011856        247     247     NaN
3:00 PM  1970-01-01 00:00:00.000013926        398     398     NaN
4:00 PM  1970-01-01 00:00:00.000016769        468     468     NaN
5:00 PM  1970-01-01 00:00:00.000029609        777     777     NaN
6:00 PM  1970-01-01 00:00:00.000038158       1045    1045     NaN
7:00 PM  1970-01-01 00:00:00.000033700        950     950     NaN
8:00 PM  1970-01-01 00:00:00.000024683        773     773     NaN
9:00 PM  1970-01-01 00:00:00.000019813        674     674     NaN
10:00 PM 1970-01-01 00:00:00.000010309        393     393     NaN
11:00 PM 1970-01-01 00:00:00.000002011         83      83     NaN

In [ ]:
df_sales_time_2024.to_csv('sales_time_2024_cleaned.csv', index=False)

In [ ]:
df_sales_time_2025['Time'] = pd.to_datetime(df_sales_time_2025['Time'])
print(df_sales_time_2025.info())
print(df_sales_time_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     datetime64[ns]
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 640.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000002          1       1     NaN
3:00 AM  1970-01-01 00:00:00.000000099          1       1     NaN
10:00 AM 1970-01-01 00:00:00.000000019          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000001068          9       9     NaN
12:00 PM 1970-01-01 00:00:00.000004408        123     123     NaN
1:00 PM  1970-01-01 00:00:00.000005593         89      89     NaN
2:00 PM  1970-01-01 00:00:00.000004789        115     115     NaN
3:00 PM  1970-01-01 00:00:00.000005038        151     151     NaN
4:00 PM  1970-01-01 00:00:00.000008922        243     243     NaN
5:00 PM  1970-01-01 00:00:00.000017214        417     417     NaN
6:00 PM  1970-01-01 00:00:00.000021002        573     573     NaN
7:00 PM  1970-01-01 00:00:00.000015062        436     436     NaN
8:00 PM  1970-01-01 00:00:00.000007836        262     262     NaN
9:00 PM  1970-01-01 00:00:00.000004497        155     155     NaN
10:00 PM 1970-01-01 00:00:00.000003171        106     106     NaN
11:00 PM 1970-01-01 00:00:00.000000305         13      13     NaN

In [ ]:
df_sales_time_2025.to_csv('sales_time_2025_cleaned.csv', index=False)

#Sales by Item

In [ ]:
print(df_sales_item_2023_copy.info())
print(df_sales_item_2023_copy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           53 non-null     object
 1   Quantity Sold  53 non-null     int64
 2   Total Sales    53 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.4+ KB
None
                                              Item  Quantity Sold Total Sales
0                                     Chicken Wrap             83     $663.17
1                                            Ranch            360     $578.40
2                              Beef Chopped Cheese             59     $471.41
3                                    Alfredo Pasta             41     $409.59
4                                Naga Chicken Wrap             50     $389.50
5                                         Naga Dip            185     $368.15
6                                 Garlic Beef Wrap             46     $353.54
7                                        Hot Honey            163     $324.37
8                              Naga Habanero Pasta             27     $269.73
9                               Tomato Basil Pasta             18     $179.82
10                                      Soda (Can)             42     $117.25
11                                Meatlovers Pizza            405      $99.95
12                                     Paneer Wrap             10      $79.90
13                                   Mushroom Wrap              7      $55.93
14                               Soft Drinks (Can)             22      $43.28
15                                   Aged Parmesan             17      $33.83
16                                    Mushrom Wrap              4      $30.96
17                                   Water (small)             13      $24.27
18                              Red Peppers Bags 3             21      $18.79
19                                 Parmesan Bags 3             15      $12.45
20                                   Side Jalapeno             11      $10.89
21                                    Chicken Wrap              1       $7.99
22                             Beef Chopped Cheese              1       $7.99
23                                      Side Basil             10       $5.54
24                                     Side Olives              5       $4.95
25                             Side Banana Peppers              3       $2.97
26                                   Side Cilantro              5       $2.86
27                           4Cheez with Hot Honey            162       $0.00
28                          Naga Habanero Mushroom             44       $0.00
29                                  Chicken Bianca             93       $0.00
30                             Spicy Naga Balachao             12       $0.00
31                                      Taco Pizza              6       $0.00
32                             Spicy Naga Mushroom             10       $0.00
33                                    Veggie Pizza             70       $0.00
34                                   Spicy Italian              5       $0.00
35                            Alfredo Cheese Pizza             68       $0.00
36                                   Bongo Tex Mex             30       $0.00
37                                      Korean BBQ             26       $0.00
38                          Naga Habanero Balachao             20       $0.00
39                              Spicy Naga Chicken            220       $0.00
40                            Naga Habanero Paneer             64       $0.00
41                                   Pepper Lovers             26       $0.00
42                                 Harissa Chicken            183       $0.00
43                                   Cheddar Birds             26       $0.00
44                      Bros favorite Cheese Pizza            366       $0.00
45                           Naga Habanero Chicken            277       $0.00
46                                 Beef Taco Pizza            102       $0.00
47                            Garlic Ghee Mushroom            169       $0.00
48                                Customized Pizza             70       $0.00
49                                Garlic Artichoke              4       $0.00
50  Jhura Beef Pesto (contains Pine & Cashew Nuts)             91       $0.00
51              Bengali Beef Pesto (Contains Nuts)            105       $0.00
52                                  Beef Pepperoni            524       $0.00

In [ ]:
df_sales_item_2023_copy['Total Sales'] = df_sales_item_2023_copy['Total Sales'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
print(df_sales_item_2023_copy.info())
print(df_sales_item_2023_copy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           53 non-null     object
 1   Quantity Sold  53 non-null     int64
 2   Total Sales    53 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.4+ KB
None
                                              Item  Quantity Sold  Total Sales
0                                     Chicken Wrap             83       663.17
1                                            Ranch            360       578.40
2                              Beef Chopped Cheese             59       471.41
3                                    Alfredo Pasta             41       409.59
4                                Naga Chicken Wrap             50       389.50
5                                         Naga Dip            185       368.15
6                                 Garlic Beef Wrap             46       353.54
7                                        Hot Honey            163       324.37
8                              Naga Habanero Pasta             27       269.73
9                               Tomato Basil Pasta             18       179.82
10                                      Soda (Can)             42       117.25
11                                Meatlovers Pizza            405        99.95
12                                     Paneer Wrap             10        79.90
13                                   Mushroom Wrap              7        55.93
14                               Soft Drinks (Can)             22        43.28
15                                   Aged Parmesan             17        33.83
16                                    Mushrom Wrap              4        30.96
17                                   Water (small)             13        24.27
18                              Red Peppers Bags 3             21        18.79
19                                 Parmesan Bags 3             15        12.45
20                                   Side Jalapeno             11        10.89
21                                    Chicken Wrap              1         7.99
22                             Beef Chopped Cheese              1         7.99
23                                      Side Basil             10         5.54
24                                     Side Olives              5         4.95
25                             Side Banana Peppers              3         2.97
26                                   Side Cilantro              5         2.86
27                           4Cheez with Hot Honey            162         0.00
28                          Naga Habanero Mushroom             44         0.00
29                                  Chicken Bianca             93         0.00
30                             Spicy Naga Balachao             12         0.00
31                                      Taco Pizza              6         0.00
32                             Spicy Naga Mushroom             10         0.00
33                                    Veggie Pizza             70         0.00
34                                   Spicy Italian              5         0.00
35                            Alfredo Cheese Pizza             68         0.00
36                                   Bongo Tex Mex             30         0.00
37                                      Korean BBQ             26         0.00
38                          Naga Habanero Balachao             20         0.00
39                              Spicy Naga Chicken            220         0.00
40                            Naga Habanero Paneer             64         0.00
41                                   Pepper Lovers             26         0.00
42                                 Harissa Chicken            183         0.00
43                                   Cheddar Birds             26         0.00
44                      Bros favorite Cheese Pizza            366         0.00
45                           Naga Habanero Chicken            277         0.00
46                                 Beef Taco Pizza            102         0.00
47                            Garlic Ghee Mushroom            169         0.00
48                                Customized Pizza             70         0.00
49                                Garlic Artichoke              4         0.00
50  Jhura Beef Pesto (contains Pine & Cashew Nuts)             91         0.00
51              Bengali Beef Pesto (Contains Nuts)            105         0.00
52                                  Beef Pepperoni            524         0.00

In [ ]:
item_frequencies = df_sales_item_2023_copy['Item'].value_counts()
print(item_frequencies)

Item
Chicken Wrap                                      2
Beef Chopped Cheese                               2
Ranch                                             1
Alfredo Pasta                                     1
Naga Chicken Wrap                                 1
Naga Dip                                          1
Garlic Beef Wrap                                  1
Hot Honey                                         1
Naga Habanero Pasta                               1
Tomato Basil Pasta                                1
Soda (Can)                                        1
Meatlovers Pizza                                  1
Paneer Wrap                                       1
Mushroom Wrap                                     1
Soft Drinks (Can)                                 1
Aged Parmesan                                     1
Mushrom Wrap                                      1
Water (small)                                     1
Red Peppers Bags 3                                1
Parmesan Bags 3                                   1
Side Jalapeno                                     1
Side Basil                                        1
Side Olives                                       1
Side Banana Peppers                               1
Side Cilantro                                     1
4Cheez with Hot Honey                             1
Naga Habanero Mushroom                            1
Chicken Bianca                                    1
Spicy Naga Balachao                               1
Taco Pizza                                        1
Spicy Naga Mushroom                               1
Veggie Pizza                                      1
Spicy Italian                                     1
Alfredo Cheese Pizza                              1
Bongo Tex Mex                                     1
Korean BBQ                                        1
Naga Habanero Balachao                            1
Spicy Naga Chicken                                1
Naga Habanero Paneer                              1
Pepper Lovers                                     1
Harissa Chicken                                   1
Cheddar Birds                                     1
Bros favorite Cheese Pizza                        1
Naga Habanero Chicken                             1
Beef Taco Pizza                                   1
Garlic Ghee Mushroom                              1
Customized Pizza                                  1
Garlic Artichoke                                  1
Jhura Beef Pesto (contains Pine & Cashew Nuts)    1
Bengali Beef Pesto (Contains Nuts)                1
Beef Pepperoni                                    1
Name: count, dtype: int64

In [ ]:
df_sales_item_2023_copy.to_csv('sales_item_2023_cleaned.csv', index=False)

In [ ]:
df_sales_item_2024['Total Sales'] = df_sales_item_2024['Total Sales'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
print(df_sales_item_2024.info())
print(df_sales_item_2024)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           36 non-null     object
 1   Quantity Sold  36 non-null     int64
 2   Total Sales    36 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 996.0+ bytes
None
                                  Item  Quantity Sold  Total Sales
0                        Alfredo Pasta             79       789.21
1                         Chicken Wrap             94       751.06
2                  Beef Chopped Cheese             80       639.20
3                   Tomato Basil Pasta             49       489.51
4                                Ranch            343       339.57
5                             Naga Dip            148       294.52
6                            Hot Honey            140       278.60
7                  Naga Habanero Pasta             27       269.73
8                           Soda (Can)             71       177.50
9                          Paneer Wrap             18       143.82
10                       Mushroom Wrap             12        95.88
11                     Parmesan Bags 3             26        25.74
12                  Red Peppers Bags 3             20        19.80
13                       Water (small)              5         9.95
14                       Side Jalapeno              6         5.94
15                         Side Olives              5         4.95
16                          Side Basil              3         1.50
17                       Side Cilantro              1         0.50
18               Naga Habanero Chicken            475         0.00
19                    Garlic Artichoke             61         0.00
20  Bengali Beef Pesto (Contains Nuts)            178         0.00
21                        Veggie Pizza            132         0.00
22               4Cheez with Hot Honey            165         0.00
23                Alfredo Cheese Pizza             44         0.00
24                      Beef Pepperoni            520         0.00
25                     Alfredo Chicken            121         0.00
26              Naga Habanero Mushroom             63         0.00
27                    Meatlovers Pizza            425         0.00
28                Garlic Ghee Mushroom            104         0.00
29                    Customized Pizza             79         0.00
30                     Beef Taco Pizza            170         0.00
31                Classic Cheese Pizza            376         0.00
32                     Harissa Chicken            233         0.00
33              Naga Habanero Balachao             21         0.00
34                          Korean BBQ            198         0.00
35                Naga Habanero Paneer             94         0.00

In [ ]:
df_sales_item_2024.to_csv('sales_item_2024_cleaned.csv', index=False)

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

# Load data
foodData = pd.read_csv("FinalData/IndividualFoodData.csv")
print(foodData)

# Encode 'Food' (categorical variable) using LabelEncoder
label_encoder = LabelEncoder()
foodData['Food'] = label_encoder.fit_transform(foodData['Food'])

# Split data into X (features) and Y (target)
X = foodData.drop("Revenue", axis=1)
Y = foodData["Revenue"]

# Normalize data (scaling numeric columns for NN input)
scaler = StandardScaler()
X[['Date']] = scaler.fit_transform(X[['Date']])  # Scaling Date (numeric)

# Split into training and test sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

# Build a simple Neural Network
model = Sequential()

# Input layer (use the number of features for input layer size)
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))  # First hidden layer
model.add(Dense(32, activation='relu'))  # Second hidden layer
model.add(Dense(1))  # Output layer (single value for regression)

# Compile the model
model.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')

# Train the model
model.fit(X_train, Y_train, epochs=100, batch_size=16, validation_split=0.1, verbose=1)

# Make predictions on training and test data
train_predictions = model.predict(X_train)
test_predictions = model.predict(X_test)

# Save the model
model.save('MlAlgos/food_neural_network_model.keras')

# Evaluate the model on the test set
test_loss = model.evaluate(X_test, Y_test)
print(f"Test Loss: {test_loss}")

                      Food  Date   Revenue
0               Korean BBQ  2023    801.57
1    Naga Habanero Chicken  2023  14443.13
2       Spicy Naga Chicken  2023  10830.08
3          Beef Taco Pizza  2023   3267.07
4               Taco Pizza  2023    457.78
..                     ...   ...       ...
134            Side Olives  2025      1.98
135          Side Jalapeno  2025      0.99
136       Side Garlic Mayo  2025     15.84
137         Marinara Sauce  2025     13.93
138                14" Pie  2025    180.00

[139 rows x 3 columns]
Epoch 1/100

C:\Users\mahd\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

7/7 ━━━━━━━━━━━━━━━━━━━━ 1s 39ms/step - loss: 22001606.0000 - val_loss: 3027251.0000
Epoch 2/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 25823622.0000 - val_loss: 3021496.2500
Epoch 3/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 23256276.0000 - val_loss: 3015562.5000
Epoch 4/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step - loss: 26833264.0000 - val_loss: 3009656.5000
Epoch 5/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 20096828.0000 - val_loss: 3003208.5000
Epoch 6/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - loss: 16242094.0000 - val_loss: 2996093.5000
Epoch 7/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 33412512.0000 - val_loss: 2987630.7500
Epoch 8/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 14563436.0000 - val_loss: 2978772.2500
Epoch 9/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - loss: 16940558.0000 - val_loss: 2967383.7500
Epoch 10/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 15019278.0000 - val_loss: 2953493.0000
Epoch 11/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 24819684.0000 - val_loss: 2937135.5000
Epoch 12/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - loss: 23832820.0000 - val_loss: 2918961.2500
Epoch 13/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 15964696.0000 - val_loss: 2899136.0000
Epoch 14/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 15880810.0000 - val_loss: 2875566.7500
Epoch 15/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 23058936.0000 - val_loss: 2848474.5000
Epoch 16/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 13750924.0000 - val_loss: 2821430.7500
Epoch 17/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 23830062.0000 - val_loss: 2791058.5000
Epoch 18/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 24587596.0000 - val_loss: 2760004.5000
Epoch 19/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 17302744.0000 - val_loss: 2728559.7500
Epoch 20/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 15862390.0000 - val_loss: 2698146.2500
Epoch 21/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 17495068.0000 - val_loss: 2666394.7500
Epoch 22/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 19689056.0000 - val_loss: 2636943.5000
Epoch 23/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 18136382.0000 - val_loss: 2611051.0000
Epoch 24/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 29578286.0000 - val_loss: 2589721.2500
Epoch 25/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 17078736.0000 - val_loss: 2574192.5000
Epoch 26/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 16058412.0000 - val_loss: 2564053.5000
Epoch 27/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - loss: 18810980.0000 - val_loss: 2561373.2500
Epoch 28/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 12478668.0000 - val_loss: 2566085.0000
Epoch 29/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 19198746.0000 - val_loss: 2579914.7500
Epoch 30/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 11245387.0000 - val_loss: 2598136.0000
Epoch 31/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 21050146.0000 - val_loss: 2629786.2500
Epoch 32/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 15542055.0000 - val_loss: 2668890.5000
Epoch 33/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 18376032.0000 - val_loss: 2708101.2500
Epoch 34/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 19733562.0000 - val_loss: 2761021.7500
Epoch 35/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 19277944.0000 - val_loss: 2808115.7500
Epoch 36/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 16936426.0000 - val_loss: 2856513.7500
Epoch 37/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - loss: 18683054.0000 - val_loss: 2914303.5000
Epoch 38/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - loss: 16587713.0000 - val_loss: 2958136.5000
Epoch 39/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 22407030.0000 - val_loss: 2994976.5000
Epoch 40/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 19391740.0000 - val_loss: 3037426.5000
Epoch 41/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 18138010.0000 - val_loss: 3063451.0000
Epoch 42/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - loss: 22248988.0000 - val_loss: 3122901.0000
Epoch 43/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 14499673.0000 - val_loss: 3125863.0000
Epoch 44/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 12644669.0000 - val_loss: 3138571.7500
Epoch 45/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 20701956.0000 - val_loss: 3183112.0000
Epoch 46/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - loss: 14670440.0000 - val_loss: 3174830.7500
Epoch 47/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - loss: 23571124.0000 - val_loss: 3217886.2500
Epoch 48/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 21437664.0000 - val_loss: 3237230.2500
Epoch 49/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 16082942.0000 - val_loss: 3230121.7500
Epoch 50/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step - loss: 27518978.0000 - val_loss: 3254301.5000
Epoch 51/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 19852142.0000 - val_loss: 3248885.7500
Epoch 52/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 17589312.0000 - val_loss: 3254364.5000
Epoch 53/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 19301672.0000 - val_loss: 3233942.2500
Epoch 54/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 19831780.0000 - val_loss: 3247579.0000
Epoch 55/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - loss: 13402948.0000 - val_loss: 3223605.0000
Epoch 56/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 17119052.0000 - val_loss: 3230909.2500
Epoch 57/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - loss: 15778870.0000 - val_loss: 3242003.0000
Epoch 58/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 15247270.0000 - val_loss: 3225153.5000
Epoch 59/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 13311117.0000 - val_loss: 3234954.5000
Epoch 60/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 20464124.0000 - val_loss: 3246035.7500
Epoch 61/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 12872916.0000 - val_loss: 3238699.0000
Epoch 62/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - loss: 17546174.0000 - val_loss: 3247117.5000
Epoch 63/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 14329398.0000 - val_loss: 3240354.5000
Epoch 64/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 15838685.0000 - val_loss: 3236792.5000
Epoch 65/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 16533880.0000 - val_loss: 3244294.2500
Epoch 66/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 19622514.0000 - val_loss: 3264947.5000
Epoch 67/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 12510327.0000 - val_loss: 3247283.7500
Epoch 68/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 15186222.0000 - val_loss: 3249769.5000
Epoch 69/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 18790122.0000 - val_loss: 3255640.2500
Epoch 70/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 15499544.0000 - val_loss: 3257203.0000
Epoch 71/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - loss: 22677342.0000 - val_loss: 3258884.0000
Epoch 72/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 15754931.0000 - val_loss: 3252293.5000
Epoch 73/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 19313772.0000 - val_loss: 3253732.0000
Epoch 74/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 19128340.0000 - val_loss: 3254133.5000
Epoch 75/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 20235210.0000 - val_loss: 3246470.2500
Epoch 76/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 19188676.0000 - val_loss: 3248561.7500
Epoch 77/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 18082836.0000 - val_loss: 3245666.7500
Epoch 78/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 22365042.0000 - val_loss: 3261195.0000
Epoch 79/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 19808952.0000 - val_loss: 3252821.5000
Epoch 80/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - loss: 17444342.0000 - val_loss: 3250340.0000
Epoch 81/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 12689192.0000 - val_loss: 3228729.5000
Epoch 82/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 15439722.0000 - val_loss: 3228712.2500
Epoch 83/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 15225974.0000 - val_loss: 3221855.7500
Epoch 84/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 17978914.0000 - val_loss: 3232427.0000
Epoch 85/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 17735238.0000 - val_loss: 3232165.0000
Epoch 86/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 12981628.0000 - val_loss: 3223465.2500
Epoch 87/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 17499552.0000 - val_loss: 3220968.2500
Epoch 88/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 15123096.0000 - val_loss: 3227133.0000
Epoch 89/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 16798562.0000 - val_loss: 3228717.0000
Epoch 90/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 21558658.0000 - val_loss: 3250749.7500
Epoch 91/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - loss: 15325346.0000 - val_loss: 3239170.7500
Epoch 92/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - loss: 15019380.0000 - val_loss: 3235624.5000
Epoch 93/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 16769902.0000 - val_loss: 3241635.7500
Epoch 94/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - loss: 16473930.0000 - val_loss: 3232391.0000
Epoch 95/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 16551910.0000 - val_loss: 3236419.0000
Epoch 96/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 14923173.0000 - val_loss: 3226307.7500
Epoch 97/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 16317694.0000 - val_loss: 3223088.0000
Epoch 98/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 15849083.0000 - val_loss: 3223924.5000
Epoch 99/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 17517326.0000 - val_loss: 3227465.7500
Epoch 100/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 19088830.0000 - val_loss: 3228638.2500
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 95ms/step - loss: 1891775.1250
Test Loss: 1891775.125

In [21]:
monthlySalesData = pd.read_csv("FinalData/SalesPerMonth.csv")
print(foodData)

X = monthlySalesData.drop("Sales", axis=1)
Y = monthlySalesData["Sales"]

# Normalize data (scaling numeric columns for NN input)
scaler = StandardScaler()
X[['Month']] = scaler.fit_transform(X[['Month']])  # Scaling Date (numeric)
X[['Year']] = scaler.fit_transform(X[['Year']])  # Scaling Date (numeric)

# Split into training and test sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

# Build a simple Neural Network
model = Sequential()

# Input layer (use the number of features for input layer size)
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))  # First hidden layer
model.add(Dense(32, activation='relu'))  # Second hidden layer
model.add(Dense(1))  # Output layer (single value for regression)

# Compile the model
model.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')

# Train the model
model.fit(X_train, Y_train, epochs=100, batch_size=16, validation_split=0.1, verbose=1)

# Make predictions on training and test data
train_predictions = model.predict(X_train)
test_predictions = model.predict(X_test)

# Save the model
model.save('MlAlgos/monthlySales_neural_network_model.keras')

# Evaluate the model on the test set
test_loss = model.evaluate(X_test, Y_test)
print(f"Test Loss: {test_loss}")

     Food  Date   Revenue
0      27  2023    801.57
1      36  2023  14443.13
2      56  2023  10830.08
3       8  2023   3267.07
4      59  2023    457.78
..    ...   ...       ...
134    49  2025      1.98
135    48  2025      0.99
136    47  2025     15.84
137    29  2025     13.93
138     0  2025    180.00

[139 rows x 3 columns]
Epoch 1/100

C:\Users\mahd\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

2/2 ━━━━━━━━━━━━━━━━━━━━ 1s 203ms/step - loss: 35127692.0000 - val_loss: 72840576.0000
Epoch 2/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step - loss: 37816856.0000 - val_loss: 72839344.0000
Epoch 3/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 72ms/step - loss: 38320736.0000 - val_loss: 72838192.0000
Epoch 4/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 38071804.0000 - val_loss: 72837040.0000
Epoch 5/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step - loss: 35125092.0000 - val_loss: 72835840.0000
Epoch 6/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 101ms/step - loss: 38171184.0000 - val_loss: 72834568.0000
Epoch 7/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 122ms/step - loss: 38171552.0000 - val_loss: 72833320.0000
Epoch 8/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 65ms/step - loss: 38221132.0000 - val_loss: 72832072.0000
Epoch 9/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 83ms/step - loss: 38214012.0000 - val_loss: 72830832.0000
Epoch 10/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 73ms/step - loss: 38087340.0000 - val_loss: 72829520.0000
Epoch 11/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 98ms/step - loss: 38167632.0000 - val_loss: 72828128.0000
Epoch 12/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 141ms/step - loss: 38306440.0000 - val_loss: 72826712.0000
Epoch 13/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 89ms/step - loss: 38210988.0000 - val_loss: 72825256.0000
Epoch 14/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 176ms/step - loss: 35118568.0000 - val_loss: 72823688.0000
Epoch 15/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step - loss: 38083312.0000 - val_loss: 72822024.0000
Epoch 16/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step - loss: 38163392.0000 - val_loss: 72820304.0000
Epoch 17/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 114ms/step - loss: 35115792.0000 - val_loss: 72818440.0000
Epoch 18/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 76ms/step - loss: 38212676.0000 - val_loss: 72816520.0000
Epoch 19/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 92ms/step - loss: 38205296.0000 - val_loss: 72814504.0000
Epoch 20/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 82ms/step - loss: 38078200.0000 - val_loss: 72812328.0000
Epoch 21/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 107ms/step - loss: 38057136.0000 - val_loss: 72810096.0000
Epoch 22/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 103ms/step - loss: 38208132.0000 - val_loss: 72807848.0000
Epoch 23/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 91ms/step - loss: 38206916.0000 - val_loss: 72805568.0000
Epoch 24/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 76ms/step - loss: 37641092.0000 - val_loss: 72803264.0000
Epoch 25/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 96ms/step - loss: 38526868.0000 - val_loss: 72800880.0000
Epoch 26/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 101ms/step - loss: 38196820.0000 - val_loss: 72798336.0000
Epoch 27/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 133ms/step - loss: 38002820.0000 - val_loss: 72795664.0000
Epoch 28/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 72ms/step - loss: 35102576.0000 - val_loss: 72792832.0000
Epoch 29/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 122ms/step - loss: 38521020.0000 - val_loss: 72789840.0000
Epoch 30/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 112ms/step - loss: 38044600.0000 - val_loss: 72786768.0000
Epoch 31/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 70ms/step - loss: 38145192.0000 - val_loss: 72783584.0000
Epoch 32/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 66ms/step - loss: 35096152.0000 - val_loss: 72780112.0000
Epoch 33/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 81ms/step - loss: 37627020.0000 - val_loss: 72776464.0000
Epoch 34/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 84ms/step - loss: 37781244.0000 - val_loss: 72772784.0000
Epoch 35/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 76ms/step - loss: 37623036.0000 - val_loss: 72769048.0000
Epoch 36/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 103ms/step - loss: 38402704.0000 - val_loss: 72765208.0000
Epoch 37/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 101ms/step - loss: 38505880.0000 - val_loss: 72761248.0000
Epoch 38/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 84ms/step - loss: 38269556.0000 - val_loss: 72757192.0000
Epoch 39/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 38173000.0000 - val_loss: 72752888.0000
Epoch 40/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 70ms/step - loss: 38264952.0000 - val_loss: 72748336.0000
Epoch 41/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step - loss: 38496572.0000 - val_loss: 72743696.0000
Epoch 42/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 91ms/step - loss: 38493988.0000 - val_loss: 72738920.0000
Epoch 43/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 90ms/step - loss: 38265156.0000 - val_loss: 72733992.0000
Epoch 44/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 95ms/step - loss: 38254552.0000 - val_loss: 72728928.0000
Epoch 45/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 76ms/step - loss: 38163468.0000 - val_loss: 72723672.0000
Epoch 46/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 71ms/step - loss: 35064152.0000 - val_loss: 72717936.0000
Epoch 47/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 112ms/step - loss: 35060988.0000 - val_loss: 72711472.0000
Epoch 48/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 78ms/step - loss: 38475948.0000 - val_loss: 72704696.0000
Epoch 49/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 79ms/step - loss: 37741388.0000 - val_loss: 72697904.0000
Epoch 50/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 80ms/step - loss: 35050384.0000 - val_loss: 72690752.0000
Epoch 51/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 98ms/step - loss: 38290072.0000 - val_loss: 72683272.0000
Epoch 52/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 89ms/step - loss: 38226452.0000 - val_loss: 72675784.0000
Epoch 53/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 76ms/step - loss: 38230176.0000 - val_loss: 72668264.0000
Epoch 54/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 65ms/step - loss: 38277536.0000 - val_loss: 72660688.0000
Epoch 55/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step - loss: 38221700.0000 - val_loss: 72653024.0000
Epoch 56/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 173ms/step - loss: 38268872.0000 - val_loss: 72645216.0000
Epoch 57/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 83ms/step - loss: 38205052.0000 - val_loss: 72637248.0000
Epoch 58/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 38106444.0000 - val_loss: 72628776.0000
Epoch 59/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step - loss: 38255016.0000 - val_loss: 72619856.0000
Epoch 60/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 105ms/step - loss: 38319164.0000 - val_loss: 72610808.0000
Epoch 61/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 65ms/step - loss: 37944468.0000 - val_loss: 72601576.0000
Epoch 62/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 126ms/step - loss: 34998156.0000 - val_loss: 72591552.0000
Epoch 63/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 88ms/step - loss: 37043648.0000 - val_loss: 72580496.0000
Epoch 64/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 68ms/step - loss: 38029324.0000 - val_loss: 72569072.0000
Epoch 65/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 211ms/step - loss: 38170232.0000 - val_loss: 72557520.0000
Epoch 66/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 38016544.0000 - val_loss: 72545808.0000
Epoch 67/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 114ms/step - loss: 37929356.0000 - val_loss: 72533680.0000
Epoch 68/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 60ms/step - loss: 38003220.0000 - val_loss: 72521128.0000
Epoch 69/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 110ms/step - loss: 37638712.0000 - val_loss: 72508416.0000
Epoch 70/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 92ms/step - loss: 37475652.0000 - val_loss: 72495496.0000
Epoch 71/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step - loss: 38128836.0000 - val_loss: 72482304.0000
Epoch 72/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 90ms/step - loss: 38241756.0000 - val_loss: 72468888.0000
Epoch 73/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step - loss: 36975656.0000 - val_loss: 72454752.0000
Epoch 74/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step - loss: 38331436.0000 - val_loss: 72439928.0000
Epoch 75/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 135ms/step - loss: 38101208.0000 - val_loss: 72424888.0000
Epoch 76/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 70ms/step - loss: 37428432.0000 - val_loss: 72409472.0000
Epoch 77/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 99ms/step - loss: 37419764.0000 - val_loss: 72393616.0000
Epoch 78/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 92ms/step - loss: 37821936.0000 - val_loss: 72377440.0000
Epoch 79/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 74ms/step - loss: 38182256.0000 - val_loss: 72361032.0000
Epoch 80/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 105ms/step - loss: 37952060.0000 - val_loss: 72343800.0000
Epoch 81/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 87ms/step - loss: 37815712.0000 - val_loss: 72325536.0000
Epoch 82/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 160ms/step - loss: 38152904.0000 - val_loss: 72306832.0000
Epoch 83/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step - loss: 37517948.0000 - val_loss: 72287888.0000
Epoch 84/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 106ms/step - loss: 37717172.0000 - val_loss: 72268472.0000
Epoch 85/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 84ms/step - loss: 38226208.0000 - val_loss: 72248592.0000
Epoch 86/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 113ms/step - loss: 37762756.0000 - val_loss: 72227976.0000
Epoch 87/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 76ms/step - loss: 37831420.0000 - val_loss: 72206584.0000
Epoch 88/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 71ms/step - loss: 36829836.0000 - val_loss: 72184032.0000
Epoch 89/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 63ms/step - loss: 38178580.0000 - val_loss: 72160496.0000
Epoch 90/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 125ms/step - loss: 37713712.0000 - val_loss: 72136448.0000
Epoch 91/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 80ms/step - loss: 37266760.0000 - val_loss: 72111728.0000
Epoch 92/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 79ms/step - loss: 37253004.0000 - val_loss: 72086552.0000
Epoch 93/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step - loss: 37394808.0000 - val_loss: 72060936.0000
Epoch 94/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 68ms/step - loss: 37884224.0000 - val_loss: 72034992.0000
Epoch 95/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 106ms/step - loss: 34689976.0000 - val_loss: 72007320.0000
Epoch 96/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step - loss: 38078956.0000 - val_loss: 71978032.0000
Epoch 97/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 84ms/step - loss: 37887900.0000 - val_loss: 71949088.0000
Epoch 98/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step - loss: 37722488.0000 - val_loss: 71919728.0000
Epoch 99/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 194ms/step - loss: 37301052.0000 - val_loss: 71889584.0000
Epoch 100/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 66ms/step - loss: 36654800.0000 - val_loss: 71858344.0000
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 72ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step - loss: 28491104.0000
Test Loss: 28491104.0