<a href="https://colab.research.google.com/github/AI01010/HackAI/blob/main/HackAI_SauceBros_Challenge_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Necessary Libraries

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Dataset

In [47]:
#Mounting the drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [48]:
file_path_menu_breakdown = '/content/drive/My Drive/menu-breakdown-jan1-dec31-2023.csv'
df_menu_breakdown = pd.read_csv(file_path_menu_breakdown)

#Data Overview

In [49]:
print(df_menu_breakdown)

                          Sales Category       Item Name  Modifier  \
No Sales Category                    NaN             NaN       NaN
No Sales Category  Naga Habanero Chicken             NaN       NaN
No Sales Category  Naga Habanero Chicken  light cilantro       NaN
No Sales Category  Naga Habanero Chicken        Jalapeno       NaN
No Sales Category  Naga Habanero Chicken       Pepperoni       NaN
...                                  ...             ...       ...
Pizza                          Hot Honey             NaN       NaN
Pizza                 Red Peppers Bags 3             NaN       NaN
Pizza                         Side Basil             NaN       NaN
Pizza                      Side Cilantro             NaN       NaN
Pizza                            Soda 2L             NaN       NaN

                   Unnamed: 3  Avg Price  Quantity  Gross Sales  \
No Sales Category   16.230000     5119.0  83106.70          0.0
No Sales Category   22.333365      542.0  12025.89          0.0
No Sales Category         NaN        1.0      0.00          0.0
No Sales Category         NaN       15.0     14.85          0.0
No Sales Category         NaN       12.0     35.88          0.0
...                       ...        ...       ...          ...
Pizza                1.629344       81.0    129.19          0.4
Pizza                0.840000        7.0      6.13          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                3.990000       10.0     39.90          0.0

                   Discount Amount  Net Sales
No Sales Category         83106.70        NaN
No Sales Category         12025.89        NaN
No Sales Category             0.00        NaN
No Sales Category            14.85        NaN
No Sales Category            35.88        NaN
...                            ...        ...
Pizza                       126.80        NaN
Pizza                         6.13        NaN
Pizza                         0.50        NaN
Pizza                         0.50        NaN
Pizza                        39.90        NaN

[1237 rows x 9 columns]

In [50]:
df_menu_breakdown.dropna(inplace = True)
print(df_menu_breakdown.to_string())

Empty DataFrame
Columns: [Sales Category, Item Name, Modifier, Unnamed: 3, Avg Price, Quantity, Gross Sales, Discount Amount, Net Sales]
Index: []