<a href="https://colab.research.google.com/github/AI01010/HackAI/blob/main/HackAI_SauceBros_Challenge_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Necessary Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Dataset

In [6]:
#Mounting the drive
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [105]:
file_path_menu_breakdown = '/content/drive/My Drive/menu-breakdown-jan1-dec31-2023.csv'
df_menu_breakdown = pd.read_csv(file_path_menu_breakdown)

file_path_sales_2025 =  '/content/drive/My Drive/sales-by-date-jan1-apr18-2025.csv'
df_sales_2025 = pd.read_csv(file_path_sales_2025)

file_path_sales_2023_part1 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2023.csv'
df_sales_2023_part1 = pd.read_csv(file_path_sales_2023_part1)

file_path_sales_2023_part2 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2023 (1).csv'
df_sales_2023_part2 = pd.read_csv(file_path_sales_2023_part2)

file_path_sales_2024 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2024.csv'
df_sales_2024 = pd.read_csv(file_path_sales_2024)

file_path_sales_time_2023 = '/content/drive/My Drive/sales-by-time-jan1-dec31-2023.csv'
df_sales_time_2023 = pd.read_csv(file_path_sales_time_2023)

file_path_sales_time_2024 = '/content/drive/My Drive/sales-by-time-jan1-dec31-2024.csv'
df_sales_time_2024 = pd.read_csv(file_path_sales_time_2024)

file_path_sales_time_2025 = '/content/drive/My Drive/sales-by-time-jan1-apr18-2025.csv'
df_sales_time_2025 = pd.read_csv(file_path_sales_time_2025)

file_path_sales_item_2023 = '/content/drive/My Drive/Item Sales 2023-01-01 - 2023-12-31.csv'
df_sales_item_2023_copy = pd.read_csv(file_path_sales_item_2023)

file_path_sales_item_2024 ='/content/drive/My Drive/Item Sales 2024-01-01 - 2024-12-31.csv'
df_sales_item_2024 = pd.read_csv(file_path_sales_item_2024)

#Data Overview

In [ ]:
print(df_menu_breakdown)

NameError: name 'df_menu_breakdown' is not defined

In [8]:
df_menu_breakdown_cleaned = df_menu_breakdown.copy()
for col in df_menu_breakdown.columns:
    if df_menu_breakdown[col].isnull().all():
        df_menu_breakdown_cleaned = df_menu_breakdown_cleaned.drop(col, axis=1)

print(df_menu_breakdown_cleaned)

                          Sales Category       Item Name  Modifier  \
No Sales Category                    NaN             NaN       NaN
No Sales Category  Naga Habanero Chicken             NaN       NaN
No Sales Category  Naga Habanero Chicken  light cilantro       NaN
No Sales Category  Naga Habanero Chicken        Jalapeno       NaN
No Sales Category  Naga Habanero Chicken       Pepperoni       NaN
...                                  ...             ...       ...
Pizza                          Hot Honey             NaN       NaN
Pizza                 Red Peppers Bags 3             NaN       NaN
Pizza                         Side Basil             NaN       NaN
Pizza                      Side Cilantro             NaN       NaN
Pizza                            Soda 2L             NaN       NaN

                   Unnamed: 3  Avg Price  Quantity  Gross Sales  \
No Sales Category   16.230000     5119.0  83106.70          0.0
No Sales Category   22.333365      542.0  12025.89          0.0
No Sales Category         NaN        1.0      0.00          0.0
No Sales Category         NaN       15.0     14.85          0.0
No Sales Category         NaN       12.0     35.88          0.0
...                       ...        ...       ...          ...
Pizza                1.629344       81.0    129.19          0.4
Pizza                0.840000        7.0      6.13          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                3.990000       10.0     39.90          0.0

                   Discount Amount
No Sales Category         83106.70
No Sales Category         12025.89
No Sales Category             0.00
No Sales Category            14.85
No Sales Category            35.88
...                            ...
Pizza                       126.80
Pizza                         6.13
Pizza                         0.50
Pizza                         0.50
Pizza                        39.90

[1237 rows x 8 columns]

#Sales by Date

In [20]:
print(df_sales_2025.info())
print(df_sales_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 01/01/2025 to 04/18/2025
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       108 non-null    datetime64[ns]
 1   Net Sales  108 non-null    int64
 2   Orders     108 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 8.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2025 1970-01-01 00:00:00.000000000          0       0     NaN
01/02/2025 1970-01-01 00:00:00.000000347         11      11     NaN
01/03/2025 1970-01-01 00:00:00.000000871         18      18     NaN
01/04/2025 1970-01-01 00:00:00.000000447         15      15     NaN
01/05/2025 1970-01-01 00:00:00.000000823         25      25     NaN
...                                  ...        ...     ...     ...
04/14/2025 1970-01-01 00:00:00.000000000          0       0     NaN
04/15/2025 1970-01-01 00:00:00.000000669         24      24     NaN
04/16/2025 1970-01-01 00:00:00.000000458         15      15     NaN
04/17/2025 1970-01-01 00:00:00.000000784         26      26     NaN
04/18/2025 1970-01-01 00:00:00.000001158         36      36     NaN

[108 rows x 4 columns]

In [21]:
df_sales_2025['Date'] = pd.to_datetime(df_sales_2025['Date'])
print(df_sales_2025.info())
print(df_sales_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 01/01/2025 to 04/18/2025
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       108 non-null    datetime64[ns]
 1   Net Sales  108 non-null    int64
 2   Orders     108 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 8.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2025 1970-01-01 00:00:00.000000000          0       0     NaN
01/02/2025 1970-01-01 00:00:00.000000347         11      11     NaN
01/03/2025 1970-01-01 00:00:00.000000871         18      18     NaN
01/04/2025 1970-01-01 00:00:00.000000447         15      15     NaN
01/05/2025 1970-01-01 00:00:00.000000823         25      25     NaN
...                                  ...        ...     ...     ...
04/14/2025 1970-01-01 00:00:00.000000000          0       0     NaN
04/15/2025 1970-01-01 00:00:00.000000669         24      24     NaN
04/16/2025 1970-01-01 00:00:00.000000458         15      15     NaN
04/17/2025 1970-01-01 00:00:00.000000784         26      26     NaN
04/18/2025 1970-01-01 00:00:00.000001158         36      36     NaN

[108 rows x 4 columns]

In [25]:
print(df_sales_2023_part1.info())
print(df_sales_2023_part1)

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2023 1970-01-01 00:00:00.000000493         15      15     NaN
01/02/2023 1970-01-01 00:00:00.000000000          0       0     NaN
01/03/2023 1970-01-01 00:00:00.000000360         12      12     NaN
01/04/2023 1970-01-01 00:00:00.000000254          9       9     NaN
01/05/2023 1970-01-01 00:00:00.000000405         16      16     NaN
...                                  ...        ...     ...     ...
12/27/2023 1970-01-01 00:00:00.000000672         17      17     NaN
12/28/2023 1970-01-01 00:00:00.000000878         24      24     NaN
12/29/2023 1970-01-01 00:00:00.000001284         32      32     NaN
12/30/2023 1970-01-01 00:00:00.000001417         43      43     NaN
12/31/2023 1970-01-01 00:00:00.000001136         31      31     NaN

[365 rows x 4 columns]

In [24]:
df_sales_2023_part1['Date'] = pd.to_datetime(df_sales_2023_part1['Date'])
print(df_sales_2023_part1.info())
print(df_sales_2023_part1)

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2023 1970-01-01 00:00:00.000000493         15      15     NaN
01/02/2023 1970-01-01 00:00:00.000000000          0       0     NaN
01/03/2023 1970-01-01 00:00:00.000000360         12      12     NaN
01/04/2023 1970-01-01 00:00:00.000000254          9       9     NaN
01/05/2023 1970-01-01 00:00:00.000000405         16      16     NaN
...                                  ...        ...     ...     ...
12/27/2023 1970-01-01 00:00:00.000000672         17      17     NaN
12/28/2023 1970-01-01 00:00:00.000000878         24      24     NaN
12/29/2023 1970-01-01 00:00:00.000001284         32      32     NaN
12/30/2023 1970-01-01 00:00:00.000001417         43      43     NaN
12/31/2023 1970-01-01 00:00:00.000001136         31      31     NaN

[365 rows x 4 columns]

In [35]:
df_sales_2023_part2['Date'] = pd.to_datetime(df_sales_2023_part2['Date'])
print(df_sales_2023_part2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None

In [36]:
print(df_sales_2024.info())
print(df_sales_2024)

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 01/01/2024 to 12/31/2024
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    float64
 1   Net Sales  366 non-null    int64
 2   Orders     366 non-null    int64
 3   Guests     0 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 14.3+ KB
None
              Date  Net Sales  Orders  Guests
01/01/2024    0.00          0       0     NaN
01/02/2024  656.12         19      19     NaN
01/03/2024  666.52         17      17     NaN
01/04/2024  373.35         12      12     NaN
01/05/2024  817.98         24      24     NaN
...            ...        ...     ...     ...
12/27/2024  769.41         20      20     NaN
12/28/2024  759.91         23      23     NaN
12/29/2024  961.75         16      16     NaN
12/30/2024    0.00          0       0     NaN
12/31/2024  623.86         16      16     NaN

[366 rows x 4 columns]

In [39]:
df_sales_2024['Date'] = pd.to_datetime(df_sales_2024['Date'])
print(df_sales_2024.info())

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 01/01/2024 to 12/31/2024
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    datetime64[ns]
 1   Net Sales  366 non-null    int64
 2   Orders     366 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None

#Sales by Time

In [46]:
df_sales_time_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     float64
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 640.0+ bytes

In [62]:
df_sales_time_2023['Time'] = pd.to_datetime(df_sales_time_2023['Time'])
print(df_sales_time_2023.info())
print(df_sales_time_2023)

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     datetime64[ns]
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 640.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000380         18      18     NaN
3:00 AM  1970-01-01 00:00:00.000000035          1       1     NaN
5:00 AM  1970-01-01 00:00:00.000000025          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000000383         12      12     NaN
12:00 PM 1970-01-01 00:00:00.000008077        242     242     NaN
1:00 PM  1970-01-01 00:00:00.000006282        217     217     NaN
2:00 PM  1970-01-01 00:00:00.000007907        244     244     NaN
3:00 PM  1970-01-01 00:00:00.000011849        382     382     NaN
4:00 PM  1970-01-01 00:00:00.000017227        520     520     NaN
5:00 PM  1970-01-01 00:00:00.000031480        882     882     NaN
6:00 PM  1970-01-01 00:00:00.000037710       1098    1098     NaN
7:00 PM  1970-01-01 00:00:00.000033278        986     986     NaN
8:00 PM  1970-01-01 00:00:00.000023993        757     757     NaN
9:00 PM  1970-01-01 00:00:00.000018345        604     604     NaN
10:00 PM 1970-01-01 00:00:00.000009742        316     316     NaN
11:00 PM 1970-01-01 00:00:00.000002264         88      88     NaN

In [66]:
df_sales_time_2024['Time'] = pd.to_datetime(df_sales_time_2024['Time'])
print(df_sales_time_2024.info())
print(df_sales_time_2024)

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       19 non-null     datetime64[ns]
 1   Net Sales  19 non-null     int64
 2   Orders     19 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 760.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000098          3       3     NaN
1:00 AM  1970-01-01 00:00:00.000000029          1       1     NaN
3:00 AM  1970-01-01 00:00:00.000000071          1       1     NaN
4:00 AM  1970-01-01 00:00:00.000000033          1       1     NaN
7:00 AM  1970-01-01 00:00:00.000000242          1       1     NaN
10:00 AM 1970-01-01 00:00:00.000000024          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000000773         20      20     NaN
12:00 PM 1970-01-01 00:00:00.000009594        247     247     NaN
1:00 PM  1970-01-01 00:00:00.000007811        202     202     NaN
2:00 PM  1970-01-01 00:00:00.000011856        247     247     NaN
3:00 PM  1970-01-01 00:00:00.000013926        398     398     NaN
4:00 PM  1970-01-01 00:00:00.000016769        468     468     NaN
5:00 PM  1970-01-01 00:00:00.000029609        777     777     NaN
6:00 PM  1970-01-01 00:00:00.000038158       1045    1045     NaN
7:00 PM  1970-01-01 00:00:00.000033700        950     950     NaN
8:00 PM  1970-01-01 00:00:00.000024683        773     773     NaN
9:00 PM  1970-01-01 00:00:00.000019813        674     674     NaN
10:00 PM 1970-01-01 00:00:00.000010309        393     393     NaN
11:00 PM 1970-01-01 00:00:00.000002011         83      83     NaN

In [73]:
df_sales_time_2025['Time'] = pd.to_datetime(df_sales_time_2025['Time'])
print(df_sales_time_2025.info())
print(df_sales_time_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     datetime64[ns]
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 640.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000002          1       1     NaN
3:00 AM  1970-01-01 00:00:00.000000099          1       1     NaN
10:00 AM 1970-01-01 00:00:00.000000019          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000001068          9       9     NaN
12:00 PM 1970-01-01 00:00:00.000004408        123     123     NaN
1:00 PM  1970-01-01 00:00:00.000005593         89      89     NaN
2:00 PM  1970-01-01 00:00:00.000004789        115     115     NaN
3:00 PM  1970-01-01 00:00:00.000005038        151     151     NaN
4:00 PM  1970-01-01 00:00:00.000008922        243     243     NaN
5:00 PM  1970-01-01 00:00:00.000017214        417     417     NaN
6:00 PM  1970-01-01 00:00:00.000021002        573     573     NaN
7:00 PM  1970-01-01 00:00:00.000015062        436     436     NaN
8:00 PM  1970-01-01 00:00:00.000007836        262     262     NaN
9:00 PM  1970-01-01 00:00:00.000004497        155     155     NaN
10:00 PM 1970-01-01 00:00:00.000003171        106     106     NaN
11:00 PM 1970-01-01 00:00:00.000000305         13      13     NaN

#Sales by Item

In [96]:
print(df_sales_item_2023_copy.info())
print(df_sales_item_2023_copy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           53 non-null     object
 1   Quantity Sold  53 non-null     int64
 2   Total Sales    53 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.4+ KB
None
                                              Item  Quantity Sold Total Sales
0                                     Chicken Wrap             83     $663.17
1                                            Ranch            360     $578.40
2                              Beef Chopped Cheese             59     $471.41
3                                    Alfredo Pasta             41     $409.59
4                                Naga Chicken Wrap             50     $389.50
5                                         Naga Dip            185     $368.15
6                                 Garlic Beef Wrap             46     $353.54
7                                        Hot Honey            163     $324.37
8                              Naga Habanero Pasta             27     $269.73
9                               Tomato Basil Pasta             18     $179.82
10                                      Soda (Can)             42     $117.25
11                                Meatlovers Pizza            405      $99.95
12                                     Paneer Wrap             10      $79.90
13                                   Mushroom Wrap              7      $55.93
14                               Soft Drinks (Can)             22      $43.28
15                                   Aged Parmesan             17      $33.83
16                                    Mushrom Wrap              4      $30.96
17                                   Water (small)             13      $24.27
18                              Red Peppers Bags 3             21      $18.79
19                                 Parmesan Bags 3             15      $12.45
20                                   Side Jalapeno             11      $10.89
21                                    Chicken Wrap              1       $7.99
22                             Beef Chopped Cheese              1       $7.99
23                                      Side Basil             10       $5.54
24                                     Side Olives              5       $4.95
25                             Side Banana Peppers              3       $2.97
26                                   Side Cilantro              5       $2.86
27                           4Cheez with Hot Honey            162       $0.00
28                          Naga Habanero Mushroom             44       $0.00
29                                  Chicken Bianca             93       $0.00
30                             Spicy Naga Balachao             12       $0.00
31                                      Taco Pizza              6       $0.00
32                             Spicy Naga Mushroom             10       $0.00
33                                    Veggie Pizza             70       $0.00
34                                   Spicy Italian              5       $0.00
35                            Alfredo Cheese Pizza             68       $0.00
36                                   Bongo Tex Mex             30       $0.00
37                                      Korean BBQ             26       $0.00
38                          Naga Habanero Balachao             20       $0.00
39                              Spicy Naga Chicken            220       $0.00
40                            Naga Habanero Paneer             64       $0.00
41                                   Pepper Lovers             26       $0.00
42                                 Harissa Chicken            183       $0.00
43                                   Cheddar Birds             26       $0.00
44                      Bros favorite Cheese Pizza            366       $0.00
45                           Naga Habanero Chicken            277       $0.00
46                                 Beef Taco Pizza            102       $0.00
47                            Garlic Ghee Mushroom            169       $0.00
48                                Customized Pizza             70       $0.00
49                                Garlic Artichoke              4       $0.00
50  Jhura Beef Pesto (contains Pine & Cashew Nuts)             91       $0.00
51              Bengali Beef Pesto (Contains Nuts)            105       $0.00
52                                  Beef Pepperoni            524       $0.00

In [103]:
df_sales_item_2023_copy['Total Sales'] = df_sales_item_2023_copy['Total Sales'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
print(df_sales_item_2023_copy.info())
print(df_sales_item_2023_copy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           53 non-null     object
 1   Quantity Sold  53 non-null     int64
 2   Total Sales    53 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.4+ KB
None
                                              Item  Quantity Sold  Total Sales
0                                     Chicken Wrap             83       663.17
1                                            Ranch            360       578.40
2                              Beef Chopped Cheese             59       471.41
3                                    Alfredo Pasta             41       409.59
4                                Naga Chicken Wrap             50       389.50
5                                         Naga Dip            185       368.15
6                                 Garlic Beef Wrap             46       353.54
7                                        Hot Honey            163       324.37
8                              Naga Habanero Pasta             27       269.73
9                               Tomato Basil Pasta             18       179.82
10                                      Soda (Can)             42       117.25
11                                Meatlovers Pizza            405        99.95
12                                     Paneer Wrap             10        79.90
13                                   Mushroom Wrap              7        55.93
14                               Soft Drinks (Can)             22        43.28
15                                   Aged Parmesan             17        33.83
16                                    Mushrom Wrap              4        30.96
17                                   Water (small)             13        24.27
18                              Red Peppers Bags 3             21        18.79
19                                 Parmesan Bags 3             15        12.45
20                                   Side Jalapeno             11        10.89
21                                    Chicken Wrap              1         7.99
22                             Beef Chopped Cheese              1         7.99
23                                      Side Basil             10         5.54
24                                     Side Olives              5         4.95
25                             Side Banana Peppers              3         2.97
26                                   Side Cilantro              5         2.86
27                           4Cheez with Hot Honey            162         0.00
28                          Naga Habanero Mushroom             44         0.00
29                                  Chicken Bianca             93         0.00
30                             Spicy Naga Balachao             12         0.00
31                                      Taco Pizza              6         0.00
32                             Spicy Naga Mushroom             10         0.00
33                                    Veggie Pizza             70         0.00
34                                   Spicy Italian              5         0.00
35                            Alfredo Cheese Pizza             68         0.00
36                                   Bongo Tex Mex             30         0.00
37                                      Korean BBQ             26         0.00
38                          Naga Habanero Balachao             20         0.00
39                              Spicy Naga Chicken            220         0.00
40                            Naga Habanero Paneer             64         0.00
41                                   Pepper Lovers             26         0.00
42                                 Harissa Chicken            183         0.00
43                                   Cheddar Birds             26         0.00
44                      Bros favorite Cheese Pizza            366         0.00
45                           Naga Habanero Chicken            277         0.00
46                                 Beef Taco Pizza            102         0.00
47                            Garlic Ghee Mushroom            169         0.00
48                                Customized Pizza             70         0.00
49                                Garlic Artichoke              4         0.00
50  Jhura Beef Pesto (contains Pine & Cashew Nuts)             91         0.00
51              Bengali Beef Pesto (Contains Nuts)            105         0.00
52                                  Beef Pepperoni            524         0.00

In [104]:
item_frequencies = df_sales_item_2023_copy['Item'].value_counts()
print(item_frequencies)

Item
Chicken Wrap                                      2
Beef Chopped Cheese                               2
Ranch                                             1
Alfredo Pasta                                     1
Naga Chicken Wrap                                 1
Naga Dip                                          1
Garlic Beef Wrap                                  1
Hot Honey                                         1
Naga Habanero Pasta                               1
Tomato Basil Pasta                                1
Soda (Can)                                        1
Meatlovers Pizza                                  1
Paneer Wrap                                       1
Mushroom Wrap                                     1
Soft Drinks (Can)                                 1
Aged Parmesan                                     1
Mushrom Wrap                                      1
Water (small)                                     1
Red Peppers Bags 3                                1
Parmesan Bags 3                                   1
Side Jalapeno                                     1
Side Basil                                        1
Side Olives                                       1
Side Banana Peppers                               1
Side Cilantro                                     1
4Cheez with Hot Honey                             1
Naga Habanero Mushroom                            1
Chicken Bianca                                    1
Spicy Naga Balachao                               1
Taco Pizza                                        1
Spicy Naga Mushroom                               1
Veggie Pizza                                      1
Spicy Italian                                     1
Alfredo Cheese Pizza                              1
Bongo Tex Mex                                     1
Korean BBQ                                        1
Naga Habanero Balachao                            1
Spicy Naga Chicken                                1
Naga Habanero Paneer                              1
Pepper Lovers                                     1
Harissa Chicken                                   1
Cheddar Birds                                     1
Bros favorite Cheese Pizza                        1
Naga Habanero Chicken                             1
Beef Taco Pizza                                   1
Garlic Ghee Mushroom                              1
Customized Pizza                                  1
Garlic Artichoke                                  1
Jhura Beef Pesto (contains Pine & Cashew Nuts)    1
Bengali Beef Pesto (Contains Nuts)                1
Beef Pepperoni                                    1
Name: count, dtype: int64

In [5]:
df_sales_item_2024['Total Sales'] = df_sales_item_2024['Total Sales'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
print(df_sales_item_2024.info())
print(df_sales_item_2024)

NameError: name 'df_sales_item_2024' is not defined

In [3]:
from catboost import CatBoostRegressor
from sklearn.model_selection import train_test_split

# STARTING HERE WILL BE CODE FOR THE RANDOM FOREST WITH THE FOOD GENERATOR
foodData = pd.read_csv("FinalData/IndividualFoodData.csv")

print(foodData)

# return to x the dataframe without the output column
X = foodData.drop("Revenue", axis=1)
Y = foodData["Revenue"]


# want only a very small amount to be used for testing, because we don't have many points to begin with to train our model
# what we do is split x into values that are used for training and ones used to evlaute model.
X_train , X_test , Y_train, Y_test = train_test_split(X, Y, test_size=0.05, random_state=42)

# defining elements for our forest. Ngl I don't know too much on what these do
gradientBooster = CatBoostRegressor(
    iterations=300,  # number of trees
    depth=10,  # depth of each tree
    learning_rate=0.1,  # how much to adjust each tree
    random_state=42,
    cat_features=[0]  # Indicate that 'food' column is categorical (index 0, or your actual column name)
)

# now fitting our forest to our train data
gradientBooster.fit(X_train, Y_train)

forest_preds_train = gradientBooster.predict(X_train)

forest_preds_test = gradientBooster.predict(X_test)

                      Food  Date   Revenue
0               Korean BBQ  2023    801.57
1    Naga Habanero Chicken  2023  14443.13
2       Spicy Naga Chicken  2023  10830.08
3          Beef Taco Pizza  2023   3267.07
4               Taco Pizza  2023    457.78
..                     ...   ...       ...
134            Side Olives  2025      1.98
135          Side Jalapeno  2025      0.99
136       Side Garlic Mayo  2025     15.84
137         Marinara Sauce  2025     13.93
138                14" Pie  2025    180.00

[139 rows x 3 columns]
0:	learn: 3569.2118606	total: 206ms	remaining: 1m 1s
1:	learn: 3502.6962633	total: 252ms	remaining: 37.6s
2:	learn: 3443.1411069	total: 306ms	remaining: 30.3s
3:	learn: 3394.5191753	total: 360ms	remaining: 26.6s
4:	learn: 3351.0801773	total: 387ms	remaining: 22.8s
5:	learn: 3322.3236424	total: 418ms	remaining: 20.5s
6:	learn: 3283.1321726	total: 502ms	remaining: 21s
7:	learn: 3241.6976803	total: 562ms	remaining: 20.5s
8:	learn: 3227.5452923	total: 590ms	remaining: 19.1s
9:	learn: 3216.1134677	total: 613ms	remaining: 17.8s
10:	learn: 3190.9305505	total: 654ms	remaining: 17.2s
11:	learn: 3157.3384951	total: 720ms	remaining: 17.3s
12:	learn: 3145.8219602	total: 738ms	remaining: 16.3s
13:	learn: 3117.8828950	total: 812ms	remaining: 16.6s
14:	learn: 3094.2309168	total: 881ms	remaining: 16.7s
15:	learn: 3073.6709894	total: 977ms	remaining: 17.3s
16:	learn: 3065.8030967	total: 1.01s	remaining: 16.8s
17:	learn: 3055.0517047	total: 1.05s	remaining: 16.5s
18:	learn: 3045.8405204	total: 1.12s	remaining: 16.6s
19:	learn: 3041.5719097	total: 1.19s	remaining: 16.7s
20:	learn: 3037.4247837	total: 1.24s	remaining: 16.4s
21:	learn: 3032.5153647	total: 1.25s	remaining: 15.8s
22:	learn: 3027.9811967	total: 1.29s	remaining: 15.5s
23:	learn: 3024.2931001	total: 1.31s	remaining: 15.1s
24:	learn: 3017.9317057	total: 1.34s	remaining: 14.7s
25:	learn: 3012.3895493	total: 1.35s	remaining: 14.3s
26:	learn: 3006.8909393	total: 1.39s	remaining: 14.1s
27:	learn: 3005.1700350	total: 1.42s	remaining: 13.8s
28:	learn: 2999.8113916	total: 1.45s	remaining: 13.6s
29:	learn: 2998.1532534	total: 1.47s	remaining: 13.2s
30:	learn: 2996.6334668	total: 1.48s	remaining: 12.9s
31:	learn: 2988.9480198	total: 1.52s	remaining: 12.7s
32:	learn: 2981.4694360	total: 1.56s	remaining: 12.6s
33:	learn: 2972.5919013	total: 1.6s	remaining: 12.6s
34:	learn: 2970.5797512	total: 1.63s	remaining: 12.3s
35:	learn: 2968.7988397	total: 1.64s	remaining: 12s
36:	learn: 2961.4234942	total: 1.67s	remaining: 11.9s
37:	learn: 2956.7870686	total: 1.71s	remaining: 11.8s
38:	learn: 2950.8310692	total: 1.73s	remaining: 11.6s
39:	learn: 2950.8173097	total: 1.73s	remaining: 11.3s
40:	learn: 2950.6486674	total: 1.75s	remaining: 11s
41:	learn: 2947.7360054	total: 1.78s	remaining: 11s
42:	learn: 2944.1585873	total: 1.83s	remaining: 10.9s
43:	learn: 2930.7649084	total: 1.89s	remaining: 11s
44:	learn: 2930.5635406	total: 1.91s	remaining: 10.8s
45:	learn: 2929.5094661	total: 1.98s	remaining: 10.9s
46:	learn: 2917.7247664	total: 2.07s	remaining: 11.1s
47:	learn: 2917.5461812	total: 2.09s	remaining: 11s
48:	learn: 2915.5141958	total: 2.12s	remaining: 10.9s
49:	learn: 2915.5076216	total: 2.13s	remaining: 10.7s
50:	learn: 2914.4601762	total: 2.17s	remaining: 10.6s
51:	learn: 2912.7756056	total: 2.24s	remaining: 10.7s
52:	learn: 2912.3130929	total: 2.29s	remaining: 10.7s
53:	learn: 2912.2055745	total: 2.32s	remaining: 10.6s
54:	learn: 2911.4267481	total: 2.38s	remaining: 10.6s
55:	learn: 2911.3613553	total: 2.41s	remaining: 10.5s
56:	learn: 2905.3213629	total: 2.47s	remaining: 10.5s
57:	learn: 2902.9432622	total: 2.54s	remaining: 10.6s
58:	learn: 2901.5384123	total: 2.61s	remaining: 10.7s
59:	learn: 2901.1178536	total: 2.64s	remaining: 10.6s
60:	learn: 2896.0399979	total: 2.69s	remaining: 10.5s
61:	learn: 2895.4458829	total: 2.75s	remaining: 10.6s
62:	learn: 2891.2890509	total: 2.87s	remaining: 10.8s
63:	learn: 2888.1602959	total: 2.96s	remaining: 10.9s
64:	learn: 2885.7942004	total: 3.06s	remaining: 11.1s
65:	learn: 2878.5887589	total: 3.15s	remaining: 11.2s
66:	learn: 2876.4218408	total: 3.21s	remaining: 11.2s
67:	learn: 2870.9687824	total: 3.26s	remaining: 11.1s
68:	learn: 2869.5327127	total: 3.38s	remaining: 11.3s
69:	learn: 2864.7838014	total: 3.45s	remaining: 11.3s
70:	learn: 2863.0752668	total: 3.5s	remaining: 11.3s
71:	learn: 2862.8301160	total: 3.53s	remaining: 11.2s
72:	learn: 2860.8004173	total: 3.63s	remaining: 11.3s
73:	learn: 2859.3460960	total: 3.74s	remaining: 11.4s
74:	learn: 2858.2513699	total: 3.8s	remaining: 11.4s
75:	learn: 2853.6936184	total: 3.88s	remaining: 11.4s
76:	learn: 2852.7753909	total: 3.95s	remaining: 11.5s
77:	learn: 2851.3917890	total: 4.07s	remaining: 11.6s
78:	learn: 2851.3330843	total: 4.12s	remaining: 11.5s
79:	learn: 2851.1468413	total: 4.15s	remaining: 11.4s
80:	learn: 2850.9882099	total: 4.18s	remaining: 11.3s
81:	learn: 2850.1507560	total: 4.25s	remaining: 11.3s
82:	learn: 2849.5656776	total: 4.34s	remaining: 11.4s
83:	learn: 2848.9640179	total: 4.44s	remaining: 11.4s
84:	learn: 2848.8535346	total: 4.49s	remaining: 11.4s
85:	learn: 2847.9270441	total: 4.59s	remaining: 11.4s
86:	learn: 2847.0686979	total: 4.71s	remaining: 11.5s
87:	learn: 2846.3388271	total: 4.82s	remaining: 11.6s
88:	learn: 2845.6268851	total: 4.88s	remaining: 11.6s
89:	learn: 2842.1664845	total: 4.95s	remaining: 11.5s
90:	learn: 2842.1391818	total: 4.98s	remaining: 11.4s
91:	learn: 2841.8030322	total: 5.04s	remaining: 11.4s
92:	learn: 2841.7789038	total: 5.05s	remaining: 11.2s
93:	learn: 2841.2982716	total: 5.14s	remaining: 11.3s
94:	learn: 2840.8000849	total: 5.25s	remaining: 11.3s
95:	learn: 2840.7438649	total: 5.28s	remaining: 11.2s
96:	learn: 2840.2909647	total: 5.34s	remaining: 11.2s
97:	learn: 2840.0733978	total: 5.43s	remaining: 11.2s
98:	learn: 2839.8678259	total: 5.55s	remaining: 11.3s
99:	learn: 2839.5238068	total: 5.64s	remaining: 11.3s
100:	learn: 2839.3324069	total: 5.71s	remaining: 11.3s
101:	learn: 2839.0212820	total: 5.85s	remaining: 11.3s
102:	learn: 2838.7635810	total: 6.01s	remaining: 11.5s
103:	learn: 2836.8366820	total: 6.05s	remaining: 11.4s
104:	learn: 2836.6012676	total: 6.12s	remaining: 11.4s
105:	learn: 2836.4355083	total: 6.24s	remaining: 11.4s
106:	learn: 2836.4080450	total: 6.33s	remaining: 11.4s
107:	learn: 2833.7341533	total: 6.42s	remaining: 11.4s
108:	learn: 2831.3349622	total: 6.54s	remaining: 11.5s
109:	learn: 2831.1542679	total: 6.66s	remaining: 11.5s
110:	learn: 2830.9911709	total: 6.77s	remaining: 11.5s
111:	learn: 2828.8381998	total: 6.89s	remaining: 11.6s
112:	learn: 2828.8240096	total: 6.92s	remaining: 11.5s
113:	learn: 2828.6903094	total: 7.02s	remaining: 11.5s
114:	learn: 2828.6862687	total: 7.06s	remaining: 11.4s
115:	learn: 2828.5595096	total: 7.17s	remaining: 11.4s
116:	learn: 2828.4458119	total: 7.31s	remaining: 11.4s
117:	learn: 2826.5457857	total: 7.44s	remaining: 11.5s
118:	learn: 2824.8412027	total: 7.53s	remaining: 11.4s
119:	learn: 2824.7873914	total: 7.66s	remaining: 11.5s
120:	learn: 2824.7407686	total: 7.76s	remaining: 11.5s
121:	learn: 2824.6983672	total: 7.82s	remaining: 11.4s
122:	learn: 2824.6160952	total: 7.89s	remaining: 11.4s
123:	learn: 2822.8745095	total: 8s	remaining: 11.4s
124:	learn: 2822.8091362	total: 8.16s	remaining: 11.4s
125:	learn: 2822.7407290	total: 8.25s	remaining: 11.4s
126:	learn: 2822.6800734	total: 8.38s	remaining: 11.4s
127:	learn: 2821.3171650	total: 8.49s	remaining: 11.4s
128:	learn: 2821.2899871	total: 8.57s	remaining: 11.4s
129:	learn: 2821.2849182	total: 8.62s	remaining: 11.3s
130:	learn: 2820.0639198	total: 8.75s	remaining: 11.3s
131:	learn: 2818.9738782	total: 8.82s	remaining: 11.2s
132:	learn: 2817.7851833	total: 8.93s	remaining: 11.2s
133:	learn: 2817.7382494	total: 9.03s	remaining: 11.2s
134:	learn: 2817.6968211	total: 9.12s	remaining: 11.2s
135:	learn: 2817.6590781	total: 9.22s	remaining: 11.1s
136:	learn: 2816.7800936	total: 9.28s	remaining: 11s
137:	learn: 2816.7739928	total: 9.31s	remaining: 10.9s
138:	learn: 2815.9853822	total: 9.42s	remaining: 10.9s
139:	learn: 2815.9771452	total: 9.51s	remaining: 10.9s
140:	learn: 2815.9639675	total: 9.63s	remaining: 10.9s
141:	learn: 2815.9319236	total: 9.73s	remaining: 10.8s
142:	learn: 2815.9196545	total: 9.8s	remaining: 10.8s
143:	learn: 2815.9090609	total: 9.87s	remaining: 10.7s
144:	learn: 2815.2044026	total: 9.93s	remaining: 10.6s
145:	learn: 2814.5715502	total: 9.99s	remaining: 10.5s
146:	learn: 2814.5626426	total: 10s	remaining: 10.5s
147:	learn: 2814.5553844	total: 10.1s	remaining: 10.4s
148:	learn: 2814.5476846	total: 10.2s	remaining: 10.3s
149:	learn: 2813.9821473	total: 10.2s	remaining: 10.2s
150:	learn: 2813.9744493	total: 10.3s	remaining: 10.2s
151:	learn: 2813.4672981	total: 10.4s	remaining: 10.1s
152:	learn: 2813.0107246	total: 10.5s	remaining: 10.1s
153:	learn: 2812.9902375	total: 10.6s	remaining: 10.1s
154:	learn: 2812.9854221	total: 10.7s	remaining: 9.98s
155:	learn: 2812.9660346	total: 10.8s	remaining: 9.97s
156:	learn: 2812.9603446	total: 10.9s	remaining: 9.96s
157:	learn: 2812.5517781	total: 11s	remaining: 9.92s
158:	learn: 2812.1850479	total: 11.1s	remaining: 9.88s
159:	learn: 2811.8566181	total: 11.3s	remaining: 9.85s
160:	learn: 2811.5610869	total: 11.4s	remaining: 9.82s
161:	learn: 2811.5591665	total: 11.4s	remaining: 9.75s
162:	learn: 2811.5546215	total: 11.5s	remaining: 9.67s
163:	learn: 2811.5504127	total: 11.6s	remaining: 9.58s
164:	learn: 2811.2853831	total: 11.6s	remaining: 9.51s
165:	learn: 2811.2828895	total: 11.7s	remaining: 9.42s
166:	learn: 2811.0450376	total: 11.8s	remaining: 9.36s
167:	learn: 2810.8305410	total: 11.9s	remaining: 9.32s
168:	learn: 2810.6387918	total: 12s	remaining: 9.29s
169:	learn: 2810.4666179	total: 12.1s	remaining: 9.24s
170:	learn: 2810.1250727	total: 12.1s	remaining: 9.16s
171:	learn: 2809.8151926	total: 12.2s	remaining: 9.1s
172:	learn: 2809.8004310	total: 12.4s	remaining: 9.07s
173:	learn: 2809.5196661	total: 12.4s	remaining: 8.99s
174:	learn: 2809.4075932	total: 12.5s	remaining: 8.95s
175:	learn: 2809.3955351	total: 12.7s	remaining: 8.95s
176:	learn: 2809.2950259	total: 12.8s	remaining: 8.89s
177:	learn: 2809.2041994	total: 12.8s	remaining: 8.79s
178:	learn: 2809.1230461	total: 12.9s	remaining: 8.71s
179:	learn: 2808.9235527	total: 12.9s	remaining: 8.63s
180:	learn: 2808.8579863	total: 13.1s	remaining: 8.6s
181:	learn: 2808.7988703	total: 13.2s	remaining: 8.53s
182:	learn: 2808.6657692	total: 13.2s	remaining: 8.47s
183:	learn: 2808.6636996	total: 13.3s	remaining: 8.4s
184:	learn: 2808.6538630	total: 13.5s	remaining: 8.38s
185:	learn: 2808.6442703	total: 13.6s	remaining: 8.31s
186:	learn: 2808.6363350	total: 13.6s	remaining: 8.24s
187:	learn: 2808.6280649	total: 13.7s	remaining: 8.16s
188:	learn: 2808.6205382	total: 13.8s	remaining: 8.11s
189:	learn: 2808.6192131	total: 13.9s	remaining: 8.05s
190:	learn: 2808.6178260	total: 14s	remaining: 7.96s
191:	learn: 2808.5654244	total: 14.1s	remaining: 7.91s
192:	learn: 2808.5597951	total: 14.1s	remaining: 7.83s
193:	learn: 2808.3923104	total: 14.2s	remaining: 7.78s
194:	learn: 2808.3918034	total: 14.3s	remaining: 7.71s
195:	learn: 2808.3495783	total: 14.4s	remaining: 7.65s
196:	learn: 2808.2016328	total: 14.5s	remaining: 7.59s
197:	learn: 2808.1960697	total: 14.7s	remaining: 7.59s
198:	learn: 2808.1944680	total: 14.8s	remaining: 7.52s
199:	learn: 2808.1600541	total: 14.9s	remaining: 7.44s
200:	learn: 2808.1294609	total: 15s	remaining: 7.4s
201:	learn: 2808.1019738	total: 15.1s	remaining: 7.33s
202:	learn: 2808.0977709	total: 15.2s	remaining: 7.25s
203:	learn: 2808.0934200	total: 15.2s	remaining: 7.17s
204:	learn: 2808.0925907	total: 15.3s	remaining: 7.09s
205:	learn: 2808.0679898	total: 15.4s	remaining: 7.04s
206:	learn: 2808.0458778	total: 15.5s	remaining: 6.96s
207:	learn: 2808.0448535	total: 15.6s	remaining: 6.91s
208:	learn: 2808.0421875	total: 15.7s	remaining: 6.83s
209:	learn: 2808.0384568	total: 15.8s	remaining: 6.77s
210:	learn: 2808.0186533	total: 15.9s	remaining: 6.69s
211:	learn: 2808.0182198	total: 15.9s	remaining: 6.6s
212:	learn: 2808.0004315	total: 15.9s	remaining: 6.51s
213:	learn: 2807.9843852	total: 16s	remaining: 6.42s
214:	learn: 2807.9842805	total: 16s	remaining: 6.34s
215:	learn: 2807.8693139	total: 16.1s	remaining: 6.26s
216:	learn: 2807.8563882	total: 16.1s	remaining: 6.18s
217:	learn: 2807.8554404	total: 16.3s	remaining: 6.11s
218:	learn: 2807.7634702	total: 16.3s	remaining: 6.04s
219:	learn: 2807.6794427	total: 16.5s	remaining: 5.99s
220:	learn: 2807.6026921	total: 16.6s	remaining: 5.92s
221:	learn: 2807.5325803	total: 16.7s	remaining: 5.88s
222:	learn: 2807.5316885	total: 16.8s	remaining: 5.82s
223:	learn: 2807.5200231	total: 17s	remaining: 5.75s
224:	learn: 2807.5194065	total: 17.1s	remaining: 5.69s
225:	learn: 2807.5174074	total: 17.2s	remaining: 5.63s
226:	learn: 2807.5069224	total: 17.2s	remaining: 5.55s
227:	learn: 2807.5064601	total: 17.4s	remaining: 5.48s
228:	learn: 2807.4970673	total: 17.5s	remaining: 5.41s
229:	learn: 2807.4965835	total: 17.6s	remaining: 5.34s
230:	learn: 2807.4241589	total: 17.6s	remaining: 5.27s
231:	learn: 2807.4237666	total: 17.8s	remaining: 5.21s
232:	learn: 2807.4236660	total: 17.9s	remaining: 5.14s
233:	learn: 2807.4160652	total: 18s	remaining: 5.08s
234:	learn: 2807.4135018	total: 18.1s	remaining: 5s
235:	learn: 2807.4131925	total: 18.2s	remaining: 4.92s
236:	learn: 2807.3479061	total: 18.2s	remaining: 4.85s
237:	learn: 2807.3456252	total: 18.4s	remaining: 4.79s
238:	learn: 2807.2921500	total: 18.5s	remaining: 4.72s
239:	learn: 2807.2860146	total: 18.5s	remaining: 4.63s
240:	learn: 2807.2416850	total: 18.6s	remaining: 4.55s
241:	learn: 2807.2414972	total: 18.7s	remaining: 4.49s
242:	learn: 2807.2397640	total: 18.8s	remaining: 4.42s
243:	learn: 2807.2396000	total: 18.9s	remaining: 4.34s
244:	learn: 2807.2378672	total: 19.1s	remaining: 4.28s
245:	learn: 2807.2363125	total: 19.2s	remaining: 4.21s
246:	learn: 2807.2348315	total: 19.2s	remaining: 4.13s
247:	learn: 2807.2295673	total: 19.3s	remaining: 4.05s
248:	learn: 2807.2295174	total: 19.4s	remaining: 3.98s
249:	learn: 2807.2279575	total: 19.5s	remaining: 3.9s
250:	learn: 2807.2278996	total: 19.6s	remaining: 3.82s
251:	learn: 2807.2268100	total: 19.7s	remaining: 3.75s
252:	learn: 2807.2267672	total: 19.8s	remaining: 3.68s
253:	learn: 2807.2264984	total: 19.9s	remaining: 3.6s
254:	learn: 2807.2262961	total: 20s	remaining: 3.52s
255:	learn: 2807.2262620	total: 20s	remaining: 3.44s
256:	learn: 2807.2217096	total: 20.1s	remaining: 3.36s
257:	learn: 2807.1763630	total: 20.1s	remaining: 3.27s
258:	learn: 2807.1722654	total: 20.2s	remaining: 3.2s
259:	learn: 2807.1722350	total: 20.3s	remaining: 3.12s
260:	learn: 2807.1722202	total: 20.3s	remaining: 3.03s
261:	learn: 2807.1685415	total: 20.4s	remaining: 2.95s
262:	learn: 2807.1271087	total: 20.4s	remaining: 2.87s
263:	learn: 2807.1237957	total: 20.5s	remaining: 2.79s
264:	learn: 2807.1208170	total: 20.5s	remaining: 2.71s
265:	learn: 2807.1205870	total: 20.6s	remaining: 2.64s
266:	learn: 2807.1205646	total: 20.7s	remaining: 2.56s
267:	learn: 2807.1203979	total: 20.7s	remaining: 2.47s
268:	learn: 2807.1202425	total: 20.8s	remaining: 2.4s
269:	learn: 2807.1201727	total: 20.9s	remaining: 2.33s
270:	learn: 2807.0823101	total: 21s	remaining: 2.25s
271:	learn: 2807.0822550	total: 21s	remaining: 2.17s
272:	learn: 2807.0822353	total: 21.1s	remaining: 2.09s
273:	learn: 2807.0821702	total: 21.2s	remaining: 2.02s
274:	learn: 2807.0820367	total: 21.3s	remaining: 1.94s
275:	learn: 2807.0809524	total: 21.4s	remaining: 1.86s
276:	learn: 2807.0463572	total: 21.5s	remaining: 1.79s
277:	learn: 2807.0147641	total: 21.6s	remaining: 1.71s
278:	learn: 2806.9859094	total: 21.7s	remaining: 1.63s
279:	learn: 2806.9858416	total: 21.8s	remaining: 1.55s
280:	learn: 2806.9855786	total: 21.8s	remaining: 1.48s
281:	learn: 2806.9855405	total: 21.9s	remaining: 1.4s
282:	learn: 2806.9845701	total: 22.1s	remaining: 1.32s
283:	learn: 2806.9845476	total: 22.1s	remaining: 1.25s
284:	learn: 2806.9844999	total: 22.2s	remaining: 1.17s
285:	learn: 2806.9581162	total: 22.2s	remaining: 1.09s
286:	learn: 2806.9580922	total: 22.3s	remaining: 1.01s
287:	learn: 2806.9580716	total: 22.4s	remaining: 934ms
288:	learn: 2806.9580527	total: 22.5s	remaining: 857ms
289:	learn: 2806.9579479	total: 22.6s	remaining: 781ms
290:	learn: 2806.9552838	total: 22.7s	remaining: 703ms
291:	learn: 2806.9528892	total: 22.8s	remaining: 624ms
292:	learn: 2806.9527425	total: 22.8s	remaining: 546ms
293:	learn: 2806.9526495	total: 23s	remaining: 469ms
294:	learn: 2806.9518449	total: 23.1s	remaining: 391ms
295:	learn: 2806.9518356	total: 23.2s	remaining: 313ms
296:	learn: 2806.9517515	total: 23.3s	remaining: 235ms
297:	learn: 2806.9517234	total: 23.4s	remaining: 157ms
298:	learn: 2806.9517165	total: 23.4s	remaining: 78.4ms
299:	learn: 2806.9517117	total: 23.5s	remaining: 0us