<a href="https://colab.research.google.com/github/AI01010/HackAI/blob/main/HackAI_SauceBros_Challenge_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Necessary Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Dataset

In [6]:
#Mounting the drive
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [105]:
file_path_menu_breakdown = '/content/drive/My Drive/menu-breakdown-jan1-dec31-2023.csv'
df_menu_breakdown = pd.read_csv(file_path_menu_breakdown)

file_path_sales_2025 =  '/content/drive/My Drive/sales-by-date-jan1-apr18-2025.csv'
df_sales_2025 = pd.read_csv(file_path_sales_2025)

file_path_sales_2023_part1 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2023.csv'
df_sales_2023_part1 = pd.read_csv(file_path_sales_2023_part1)

file_path_sales_2023_part2 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2023 (1).csv'
df_sales_2023_part2 = pd.read_csv(file_path_sales_2023_part2)

file_path_sales_2024 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2024.csv'
df_sales_2024 = pd.read_csv(file_path_sales_2024)

file_path_sales_time_2023 = '/content/drive/My Drive/sales-by-time-jan1-dec31-2023.csv'
df_sales_time_2023 = pd.read_csv(file_path_sales_time_2023)

file_path_sales_time_2024 = '/content/drive/My Drive/sales-by-time-jan1-dec31-2024.csv'
df_sales_time_2024 = pd.read_csv(file_path_sales_time_2024)

file_path_sales_time_2025 = '/content/drive/My Drive/sales-by-time-jan1-apr18-2025.csv'
df_sales_time_2025 = pd.read_csv(file_path_sales_time_2025)

file_path_sales_item_2023 = '/content/drive/My Drive/Item Sales 2023-01-01 - 2023-12-31.csv'
df_sales_item_2023_copy = pd.read_csv(file_path_sales_item_2023)

file_path_sales_item_2024 ='/content/drive/My Drive/Item Sales 2024-01-01 - 2024-12-31.csv'
df_sales_item_2024 = pd.read_csv(file_path_sales_item_2024)

#Data Overview

In [ ]:
print(df_menu_breakdown)

NameError: name 'df_menu_breakdown' is not defined

In [8]:
df_menu_breakdown_cleaned = df_menu_breakdown.copy()
for col in df_menu_breakdown.columns:
    if df_menu_breakdown[col].isnull().all():
        df_menu_breakdown_cleaned = df_menu_breakdown_cleaned.drop(col, axis=1)

print(df_menu_breakdown_cleaned)

                          Sales Category       Item Name  Modifier  \
No Sales Category                    NaN             NaN       NaN
No Sales Category  Naga Habanero Chicken             NaN       NaN
No Sales Category  Naga Habanero Chicken  light cilantro       NaN
No Sales Category  Naga Habanero Chicken        Jalapeno       NaN
No Sales Category  Naga Habanero Chicken       Pepperoni       NaN
...                                  ...             ...       ...
Pizza                          Hot Honey             NaN       NaN
Pizza                 Red Peppers Bags 3             NaN       NaN
Pizza                         Side Basil             NaN       NaN
Pizza                      Side Cilantro             NaN       NaN
Pizza                            Soda 2L             NaN       NaN

                   Unnamed: 3  Avg Price  Quantity  Gross Sales  \
No Sales Category   16.230000     5119.0  83106.70          0.0
No Sales Category   22.333365      542.0  12025.89          0.0
No Sales Category         NaN        1.0      0.00          0.0
No Sales Category         NaN       15.0     14.85          0.0
No Sales Category         NaN       12.0     35.88          0.0
...                       ...        ...       ...          ...
Pizza                1.629344       81.0    129.19          0.4
Pizza                0.840000        7.0      6.13          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                3.990000       10.0     39.90          0.0

                   Discount Amount
No Sales Category         83106.70
No Sales Category         12025.89
No Sales Category             0.00
No Sales Category            14.85
No Sales Category            35.88
...                            ...
Pizza                       126.80
Pizza                         6.13
Pizza                         0.50
Pizza                         0.50
Pizza                        39.90

[1237 rows x 8 columns]

#Sales by Date

In [20]:
print(df_sales_2025.info())
print(df_sales_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 01/01/2025 to 04/18/2025
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       108 non-null    datetime64[ns]
 1   Net Sales  108 non-null    int64
 2   Orders     108 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 8.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2025 1970-01-01 00:00:00.000000000          0       0     NaN
01/02/2025 1970-01-01 00:00:00.000000347         11      11     NaN
01/03/2025 1970-01-01 00:00:00.000000871         18      18     NaN
01/04/2025 1970-01-01 00:00:00.000000447         15      15     NaN
01/05/2025 1970-01-01 00:00:00.000000823         25      25     NaN
...                                  ...        ...     ...     ...
04/14/2025 1970-01-01 00:00:00.000000000          0       0     NaN
04/15/2025 1970-01-01 00:00:00.000000669         24      24     NaN
04/16/2025 1970-01-01 00:00:00.000000458         15      15     NaN
04/17/2025 1970-01-01 00:00:00.000000784         26      26     NaN
04/18/2025 1970-01-01 00:00:00.000001158         36      36     NaN

[108 rows x 4 columns]

In [21]:
df_sales_2025['Date'] = pd.to_datetime(df_sales_2025['Date'])
print(df_sales_2025.info())
print(df_sales_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 01/01/2025 to 04/18/2025
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       108 non-null    datetime64[ns]
 1   Net Sales  108 non-null    int64
 2   Orders     108 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 8.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2025 1970-01-01 00:00:00.000000000          0       0     NaN
01/02/2025 1970-01-01 00:00:00.000000347         11      11     NaN
01/03/2025 1970-01-01 00:00:00.000000871         18      18     NaN
01/04/2025 1970-01-01 00:00:00.000000447         15      15     NaN
01/05/2025 1970-01-01 00:00:00.000000823         25      25     NaN
...                                  ...        ...     ...     ...
04/14/2025 1970-01-01 00:00:00.000000000          0       0     NaN
04/15/2025 1970-01-01 00:00:00.000000669         24      24     NaN
04/16/2025 1970-01-01 00:00:00.000000458         15      15     NaN
04/17/2025 1970-01-01 00:00:00.000000784         26      26     NaN
04/18/2025 1970-01-01 00:00:00.000001158         36      36     NaN

[108 rows x 4 columns]

In [25]:
print(df_sales_2023_part1.info())
print(df_sales_2023_part1)

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2023 1970-01-01 00:00:00.000000493         15      15     NaN
01/02/2023 1970-01-01 00:00:00.000000000          0       0     NaN
01/03/2023 1970-01-01 00:00:00.000000360         12      12     NaN
01/04/2023 1970-01-01 00:00:00.000000254          9       9     NaN
01/05/2023 1970-01-01 00:00:00.000000405         16      16     NaN
...                                  ...        ...     ...     ...
12/27/2023 1970-01-01 00:00:00.000000672         17      17     NaN
12/28/2023 1970-01-01 00:00:00.000000878         24      24     NaN
12/29/2023 1970-01-01 00:00:00.000001284         32      32     NaN
12/30/2023 1970-01-01 00:00:00.000001417         43      43     NaN
12/31/2023 1970-01-01 00:00:00.000001136         31      31     NaN

[365 rows x 4 columns]

In [24]:
df_sales_2023_part1['Date'] = pd.to_datetime(df_sales_2023_part1['Date'])
print(df_sales_2023_part1.info())
print(df_sales_2023_part1)

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2023 1970-01-01 00:00:00.000000493         15      15     NaN
01/02/2023 1970-01-01 00:00:00.000000000          0       0     NaN
01/03/2023 1970-01-01 00:00:00.000000360         12      12     NaN
01/04/2023 1970-01-01 00:00:00.000000254          9       9     NaN
01/05/2023 1970-01-01 00:00:00.000000405         16      16     NaN
...                                  ...        ...     ...     ...
12/27/2023 1970-01-01 00:00:00.000000672         17      17     NaN
12/28/2023 1970-01-01 00:00:00.000000878         24      24     NaN
12/29/2023 1970-01-01 00:00:00.000001284         32      32     NaN
12/30/2023 1970-01-01 00:00:00.000001417         43      43     NaN
12/31/2023 1970-01-01 00:00:00.000001136         31      31     NaN

[365 rows x 4 columns]

In [35]:
df_sales_2023_part2['Date'] = pd.to_datetime(df_sales_2023_part2['Date'])
print(df_sales_2023_part2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None

In [36]:
print(df_sales_2024.info())
print(df_sales_2024)

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 01/01/2024 to 12/31/2024
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    float64
 1   Net Sales  366 non-null    int64
 2   Orders     366 non-null    int64
 3   Guests     0 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 14.3+ KB
None
              Date  Net Sales  Orders  Guests
01/01/2024    0.00          0       0     NaN
01/02/2024  656.12         19      19     NaN
01/03/2024  666.52         17      17     NaN
01/04/2024  373.35         12      12     NaN
01/05/2024  817.98         24      24     NaN
...            ...        ...     ...     ...
12/27/2024  769.41         20      20     NaN
12/28/2024  759.91         23      23     NaN
12/29/2024  961.75         16      16     NaN
12/30/2024    0.00          0       0     NaN
12/31/2024  623.86         16      16     NaN

[366 rows x 4 columns]

In [39]:
df_sales_2024['Date'] = pd.to_datetime(df_sales_2024['Date'])
print(df_sales_2024.info())

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 01/01/2024 to 12/31/2024
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    datetime64[ns]
 1   Net Sales  366 non-null    int64
 2   Orders     366 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None

#Sales by Time

In [46]:
df_sales_time_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     float64
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 640.0+ bytes

In [62]:
df_sales_time_2023['Time'] = pd.to_datetime(df_sales_time_2023['Time'])
print(df_sales_time_2023.info())
print(df_sales_time_2023)

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     datetime64[ns]
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 640.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000380         18      18     NaN
3:00 AM  1970-01-01 00:00:00.000000035          1       1     NaN
5:00 AM  1970-01-01 00:00:00.000000025          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000000383         12      12     NaN
12:00 PM 1970-01-01 00:00:00.000008077        242     242     NaN
1:00 PM  1970-01-01 00:00:00.000006282        217     217     NaN
2:00 PM  1970-01-01 00:00:00.000007907        244     244     NaN
3:00 PM  1970-01-01 00:00:00.000011849        382     382     NaN
4:00 PM  1970-01-01 00:00:00.000017227        520     520     NaN
5:00 PM  1970-01-01 00:00:00.000031480        882     882     NaN
6:00 PM  1970-01-01 00:00:00.000037710       1098    1098     NaN
7:00 PM  1970-01-01 00:00:00.000033278        986     986     NaN
8:00 PM  1970-01-01 00:00:00.000023993        757     757     NaN
9:00 PM  1970-01-01 00:00:00.000018345        604     604     NaN
10:00 PM 1970-01-01 00:00:00.000009742        316     316     NaN
11:00 PM 1970-01-01 00:00:00.000002264         88      88     NaN

In [66]:
df_sales_time_2024['Time'] = pd.to_datetime(df_sales_time_2024['Time'])
print(df_sales_time_2024.info())
print(df_sales_time_2024)

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       19 non-null     datetime64[ns]
 1   Net Sales  19 non-null     int64
 2   Orders     19 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 760.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000098          3       3     NaN
1:00 AM  1970-01-01 00:00:00.000000029          1       1     NaN
3:00 AM  1970-01-01 00:00:00.000000071          1       1     NaN
4:00 AM  1970-01-01 00:00:00.000000033          1       1     NaN
7:00 AM  1970-01-01 00:00:00.000000242          1       1     NaN
10:00 AM 1970-01-01 00:00:00.000000024          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000000773         20      20     NaN
12:00 PM 1970-01-01 00:00:00.000009594        247     247     NaN
1:00 PM  1970-01-01 00:00:00.000007811        202     202     NaN
2:00 PM  1970-01-01 00:00:00.000011856        247     247     NaN
3:00 PM  1970-01-01 00:00:00.000013926        398     398     NaN
4:00 PM  1970-01-01 00:00:00.000016769        468     468     NaN
5:00 PM  1970-01-01 00:00:00.000029609        777     777     NaN
6:00 PM  1970-01-01 00:00:00.000038158       1045    1045     NaN
7:00 PM  1970-01-01 00:00:00.000033700        950     950     NaN
8:00 PM  1970-01-01 00:00:00.000024683        773     773     NaN
9:00 PM  1970-01-01 00:00:00.000019813        674     674     NaN
10:00 PM 1970-01-01 00:00:00.000010309        393     393     NaN
11:00 PM 1970-01-01 00:00:00.000002011         83      83     NaN

In [73]:
df_sales_time_2025['Time'] = pd.to_datetime(df_sales_time_2025['Time'])
print(df_sales_time_2025.info())
print(df_sales_time_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     datetime64[ns]
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 640.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000002          1       1     NaN
3:00 AM  1970-01-01 00:00:00.000000099          1       1     NaN
10:00 AM 1970-01-01 00:00:00.000000019          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000001068          9       9     NaN
12:00 PM 1970-01-01 00:00:00.000004408        123     123     NaN
1:00 PM  1970-01-01 00:00:00.000005593         89      89     NaN
2:00 PM  1970-01-01 00:00:00.000004789        115     115     NaN
3:00 PM  1970-01-01 00:00:00.000005038        151     151     NaN
4:00 PM  1970-01-01 00:00:00.000008922        243     243     NaN
5:00 PM  1970-01-01 00:00:00.000017214        417     417     NaN
6:00 PM  1970-01-01 00:00:00.000021002        573     573     NaN
7:00 PM  1970-01-01 00:00:00.000015062        436     436     NaN
8:00 PM  1970-01-01 00:00:00.000007836        262     262     NaN
9:00 PM  1970-01-01 00:00:00.000004497        155     155     NaN
10:00 PM 1970-01-01 00:00:00.000003171        106     106     NaN
11:00 PM 1970-01-01 00:00:00.000000305         13      13     NaN

#Sales by Item

In [96]:
print(df_sales_item_2023_copy.info())
print(df_sales_item_2023_copy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           53 non-null     object
 1   Quantity Sold  53 non-null     int64
 2   Total Sales    53 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.4+ KB
None
                                              Item  Quantity Sold Total Sales
0                                     Chicken Wrap             83     $663.17
1                                            Ranch            360     $578.40
2                              Beef Chopped Cheese             59     $471.41
3                                    Alfredo Pasta             41     $409.59
4                                Naga Chicken Wrap             50     $389.50
5                                         Naga Dip            185     $368.15
6                                 Garlic Beef Wrap             46     $353.54
7                                        Hot Honey            163     $324.37
8                              Naga Habanero Pasta             27     $269.73
9                               Tomato Basil Pasta             18     $179.82
10                                      Soda (Can)             42     $117.25
11                                Meatlovers Pizza            405      $99.95
12                                     Paneer Wrap             10      $79.90
13                                   Mushroom Wrap              7      $55.93
14                               Soft Drinks (Can)             22      $43.28
15                                   Aged Parmesan             17      $33.83
16                                    Mushrom Wrap              4      $30.96
17                                   Water (small)             13      $24.27
18                              Red Peppers Bags 3             21      $18.79
19                                 Parmesan Bags 3             15      $12.45
20                                   Side Jalapeno             11      $10.89
21                                    Chicken Wrap              1       $7.99
22                             Beef Chopped Cheese              1       $7.99
23                                      Side Basil             10       $5.54
24                                     Side Olives              5       $4.95
25                             Side Banana Peppers              3       $2.97
26                                   Side Cilantro              5       $2.86
27                           4Cheez with Hot Honey            162       $0.00
28                          Naga Habanero Mushroom             44       $0.00
29                                  Chicken Bianca             93       $0.00
30                             Spicy Naga Balachao             12       $0.00
31                                      Taco Pizza              6       $0.00
32                             Spicy Naga Mushroom             10       $0.00
33                                    Veggie Pizza             70       $0.00
34                                   Spicy Italian              5       $0.00
35                            Alfredo Cheese Pizza             68       $0.00
36                                   Bongo Tex Mex             30       $0.00
37                                      Korean BBQ             26       $0.00
38                          Naga Habanero Balachao             20       $0.00
39                              Spicy Naga Chicken            220       $0.00
40                            Naga Habanero Paneer             64       $0.00
41                                   Pepper Lovers             26       $0.00
42                                 Harissa Chicken            183       $0.00
43                                   Cheddar Birds             26       $0.00
44                      Bros favorite Cheese Pizza            366       $0.00
45                           Naga Habanero Chicken            277       $0.00
46                                 Beef Taco Pizza            102       $0.00
47                            Garlic Ghee Mushroom            169       $0.00
48                                Customized Pizza             70       $0.00
49                                Garlic Artichoke              4       $0.00
50  Jhura Beef Pesto (contains Pine & Cashew Nuts)             91       $0.00
51              Bengali Beef Pesto (Contains Nuts)            105       $0.00
52                                  Beef Pepperoni            524       $0.00

In [103]:
df_sales_item_2023_copy['Total Sales'] = df_sales_item_2023_copy['Total Sales'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
print(df_sales_item_2023_copy.info())
print(df_sales_item_2023_copy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           53 non-null     object
 1   Quantity Sold  53 non-null     int64
 2   Total Sales    53 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.4+ KB
None
                                              Item  Quantity Sold  Total Sales
0                                     Chicken Wrap             83       663.17
1                                            Ranch            360       578.40
2                              Beef Chopped Cheese             59       471.41
3                                    Alfredo Pasta             41       409.59
4                                Naga Chicken Wrap             50       389.50
5                                         Naga Dip            185       368.15
6                                 Garlic Beef Wrap             46       353.54
7                                        Hot Honey            163       324.37
8                              Naga Habanero Pasta             27       269.73
9                               Tomato Basil Pasta             18       179.82
10                                      Soda (Can)             42       117.25
11                                Meatlovers Pizza            405        99.95
12                                     Paneer Wrap             10        79.90
13                                   Mushroom Wrap              7        55.93
14                               Soft Drinks (Can)             22        43.28
15                                   Aged Parmesan             17        33.83
16                                    Mushrom Wrap              4        30.96
17                                   Water (small)             13        24.27
18                              Red Peppers Bags 3             21        18.79
19                                 Parmesan Bags 3             15        12.45
20                                   Side Jalapeno             11        10.89
21                                    Chicken Wrap              1         7.99
22                             Beef Chopped Cheese              1         7.99
23                                      Side Basil             10         5.54
24                                     Side Olives              5         4.95
25                             Side Banana Peppers              3         2.97
26                                   Side Cilantro              5         2.86
27                           4Cheez with Hot Honey            162         0.00
28                          Naga Habanero Mushroom             44         0.00
29                                  Chicken Bianca             93         0.00
30                             Spicy Naga Balachao             12         0.00
31                                      Taco Pizza              6         0.00
32                             Spicy Naga Mushroom             10         0.00
33                                    Veggie Pizza             70         0.00
34                                   Spicy Italian              5         0.00
35                            Alfredo Cheese Pizza             68         0.00
36                                   Bongo Tex Mex             30         0.00
37                                      Korean BBQ             26         0.00
38                          Naga Habanero Balachao             20         0.00
39                              Spicy Naga Chicken            220         0.00
40                            Naga Habanero Paneer             64         0.00
41                                   Pepper Lovers             26         0.00
42                                 Harissa Chicken            183         0.00
43                                   Cheddar Birds             26         0.00
44                      Bros favorite Cheese Pizza            366         0.00
45                           Naga Habanero Chicken            277         0.00
46                                 Beef Taco Pizza            102         0.00
47                            Garlic Ghee Mushroom            169         0.00
48                                Customized Pizza             70         0.00
49                                Garlic Artichoke              4         0.00
50  Jhura Beef Pesto (contains Pine & Cashew Nuts)             91         0.00
51              Bengali Beef Pesto (Contains Nuts)            105         0.00
52                                  Beef Pepperoni            524         0.00

In [104]:
item_frequencies = df_sales_item_2023_copy['Item'].value_counts()
print(item_frequencies)

Item
Chicken Wrap                                      2
Beef Chopped Cheese                               2
Ranch                                             1
Alfredo Pasta                                     1
Naga Chicken Wrap                                 1
Naga Dip                                          1
Garlic Beef Wrap                                  1
Hot Honey                                         1
Naga Habanero Pasta                               1
Tomato Basil Pasta                                1
Soda (Can)                                        1
Meatlovers Pizza                                  1
Paneer Wrap                                       1
Mushroom Wrap                                     1
Soft Drinks (Can)                                 1
Aged Parmesan                                     1
Mushrom Wrap                                      1
Water (small)                                     1
Red Peppers Bags 3                                1
Parmesan Bags 3                                   1
Side Jalapeno                                     1
Side Basil                                        1
Side Olives                                       1
Side Banana Peppers                               1
Side Cilantro                                     1
4Cheez with Hot Honey                             1
Naga Habanero Mushroom                            1
Chicken Bianca                                    1
Spicy Naga Balachao                               1
Taco Pizza                                        1
Spicy Naga Mushroom                               1
Veggie Pizza                                      1
Spicy Italian                                     1
Alfredo Cheese Pizza                              1
Bongo Tex Mex                                     1
Korean BBQ                                        1
Naga Habanero Balachao                            1
Spicy Naga Chicken                                1
Naga Habanero Paneer                              1
Pepper Lovers                                     1
Harissa Chicken                                   1
Cheddar Birds                                     1
Bros favorite Cheese Pizza                        1
Naga Habanero Chicken                             1
Beef Taco Pizza                                   1
Garlic Ghee Mushroom                              1
Customized Pizza                                  1
Garlic Artichoke                                  1
Jhura Beef Pesto (contains Pine & Cashew Nuts)    1
Bengali Beef Pesto (Contains Nuts)                1
Beef Pepperoni                                    1
Name: count, dtype: int64

In [5]:
df_sales_item_2024['Total Sales'] = df_sales_item_2024['Total Sales'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
print(df_sales_item_2024.info())
print(df_sales_item_2024)

NameError: name 'df_sales_item_2024' is not defined

In [4]:
from catboost import CatBoostRegressor
from sklearn.model_selection import train_test_split

# STARTING HERE WILL BE CODE FOR THE RANDOM FOREST WITH THE FOOD GENERATOR
foodData = pd.read_csv("FinalData/IndividualFoodData.csv")

print(foodData)

# return to x the dataframe without the output column
X = foodData.drop("Revenue", axis=1)
Y = foodData["Revenue"]


# want only a very small amount to be used for testing, because we don't have many points to begin with to train our model
# what we do is split x into values that are used for training and ones used to evlaute model.
X_train , X_test , Y_train, Y_test = train_test_split(X, Y, test_size=0.05, random_state=42)

# defining elements for our forest. Ngl I don't know too much on what these do
catBooster = CatBoostRegressor(
    iterations=300,  # number of trees
    depth=10,  # depth of each tree
    learning_rate=0.1,  # how much to adjust each tree
    random_state=42,
    cat_features=[0]  # Indicate that 'food' column is categorical (index 0, or your actual column name)
)

# now fitting our forest to our train data
catBooster.fit(X_train, Y_train)

booster_preds_train = catBooster.predict(X_train)

booster_preds_test = catBooster.predict(X_test)

catBooster.save_model('MlAlgos/catboost_model.cbm')

                      Food  Date   Revenue
0               Korean BBQ  2023    801.57
1    Naga Habanero Chicken  2023  14443.13
2       Spicy Naga Chicken  2023  10830.08
3          Beef Taco Pizza  2023   3267.07
4               Taco Pizza  2023    457.78
..                     ...   ...       ...
134            Side Olives  2025      1.98
135          Side Jalapeno  2025      0.99
136       Side Garlic Mayo  2025     15.84
137         Marinara Sauce  2025     13.93
138                14" Pie  2025    180.00

[139 rows x 3 columns]
0:	learn: 3569.2118606	total: 15.1ms	remaining: 4.5s
1:	learn: 3502.6962633	total: 37.6ms	remaining: 5.6s
2:	learn: 3443.1411069	total: 91ms	remaining: 9.01s
3:	learn: 3394.5191753	total: 119ms	remaining: 8.84s
4:	learn: 3351.0801773	total: 130ms	remaining: 7.69s
5:	learn: 3322.3236424	total: 142ms	remaining: 6.95s
6:	learn: 3283.1321726	total: 165ms	remaining: 6.91s
7:	learn: 3241.6976803	total: 193ms	remaining: 7.05s
8:	learn: 3227.5452923	total: 209ms	remaining: 6.75s
9:	learn: 3216.1134677	total: 218ms	remaining: 6.33s
10:	learn: 3190.9305505	total: 239ms	remaining: 6.27s
11:	learn: 3157.3384951	total: 336ms	remaining: 8.07s
12:	learn: 3145.8219602	total: 358ms	remaining: 7.91s
13:	learn: 3117.8828950	total: 400ms	remaining: 8.17s
14:	learn: 3094.2309168	total: 424ms	remaining: 8.06s
15:	learn: 3073.6709894	total: 517ms	remaining: 9.18s
16:	learn: 3065.8030967	total: 549ms	remaining: 9.15s
17:	learn: 3055.0517047	total: 585ms	remaining: 9.17s
18:	learn: 3045.8405204	total: 673ms	remaining: 9.95s
19:	learn: 3041.5719097	total: 717ms	remaining: 10s
20:	learn: 3037.4247837	total: 796ms	remaining: 10.6s
21:	learn: 3032.5153647	total: 828ms	remaining: 10.5s
22:	learn: 3027.9811967	total: 852ms	remaining: 10.3s
23:	learn: 3024.2931001	total: 863ms	remaining: 9.93s
24:	learn: 3017.9317057	total: 886ms	remaining: 9.74s
25:	learn: 3012.3895493	total: 899ms	remaining: 9.47s
26:	learn: 3006.8909393	total: 917ms	remaining: 9.28s
27:	learn: 3005.1700350	total: 929ms	remaining: 9.03s
28:	learn: 2999.8113916	total: 958ms	remaining: 8.96s
29:	learn: 2998.1532534	total: 973ms	remaining: 8.76s
30:	learn: 2996.6334668	total: 988ms	remaining: 8.57s
31:	learn: 2988.9480198	total: 1.02s	remaining: 8.54s
32:	learn: 2981.4694360	total: 1.07s	remaining: 8.69s
33:	learn: 2972.5919013	total: 1.15s	remaining: 9.01s
34:	learn: 2970.5797512	total: 1.19s	remaining: 9.02s
35:	learn: 2968.7988397	total: 1.23s	remaining: 9s
36:	learn: 2961.4234942	total: 1.27s	remaining: 9s
37:	learn: 2956.7870686	total: 1.34s	remaining: 9.24s
38:	learn: 2950.8310692	total: 1.39s	remaining: 9.32s
39:	learn: 2950.8173097	total: 1.41s	remaining: 9.13s
40:	learn: 2950.6486674	total: 1.45s	remaining: 9.16s
41:	learn: 2947.7360054	total: 1.5s	remaining: 9.23s
42:	learn: 2944.1585873	total: 1.54s	remaining: 9.2s
43:	learn: 2930.7649084	total: 1.61s	remaining: 9.35s
44:	learn: 2930.5635406	total: 1.61s	remaining: 9.15s
45:	learn: 2929.5094661	total: 1.64s	remaining: 9.07s
46:	learn: 2917.7247664	total: 1.68s	remaining: 9.05s
47:	learn: 2917.5461812	total: 1.69s	remaining: 8.86s
48:	learn: 2915.5141958	total: 1.71s	remaining: 8.75s
49:	learn: 2915.5076216	total: 1.72s	remaining: 8.58s
50:	learn: 2914.4601762	total: 1.76s	remaining: 8.62s
51:	learn: 2912.7756056	total: 1.88s	remaining: 8.96s
52:	learn: 2912.3130929	total: 1.91s	remaining: 8.89s
53:	learn: 2912.2055745	total: 1.93s	remaining: 8.79s
54:	learn: 2911.4267481	total: 1.97s	remaining: 8.75s
55:	learn: 2911.3613553	total: 1.99s	remaining: 8.65s
56:	learn: 2905.3213629	total: 2.06s	remaining: 8.76s
57:	learn: 2902.9432622	total: 2.15s	remaining: 8.97s
58:	learn: 2901.5384123	total: 2.22s	remaining: 9.07s
59:	learn: 2901.1178536	total: 2.27s	remaining: 9.06s
60:	learn: 2896.0399979	total: 2.37s	remaining: 9.27s
61:	learn: 2895.4458829	total: 2.46s	remaining: 9.44s
62:	learn: 2891.2890509	total: 2.5s	remaining: 9.4s
63:	learn: 2888.1602959	total: 2.53s	remaining: 9.32s
64:	learn: 2885.7942004	total: 2.57s	remaining: 9.29s
65:	learn: 2878.5887589	total: 2.63s	remaining: 9.34s
66:	learn: 2876.4218408	total: 2.69s	remaining: 9.37s
67:	learn: 2870.9687824	total: 2.73s	remaining: 9.31s
68:	learn: 2869.5327127	total: 2.77s	remaining: 9.29s
69:	learn: 2864.7838014	total: 2.83s	remaining: 9.31s
70:	learn: 2863.0752668	total: 2.93s	remaining: 9.44s
71:	learn: 2862.8301160	total: 2.99s	remaining: 9.48s
72:	learn: 2860.8004173	total: 3.1s	remaining: 9.64s
73:	learn: 2859.3460960	total: 3.16s	remaining: 9.65s
74:	learn: 2858.2513699	total: 3.2s	remaining: 9.61s
75:	learn: 2853.6936184	total: 3.25s	remaining: 9.57s
76:	learn: 2852.7753909	total: 3.3s	remaining: 9.56s
77:	learn: 2851.3917890	total: 3.37s	remaining: 9.6s
78:	learn: 2851.3330843	total: 3.39s	remaining: 9.49s
79:	learn: 2851.1468413	total: 3.42s	remaining: 9.41s
80:	learn: 2850.9882099	total: 3.44s	remaining: 9.31s
81:	learn: 2850.1507560	total: 3.53s	remaining: 9.39s
82:	learn: 2849.5656776	total: 3.58s	remaining: 9.37s
83:	learn: 2848.9640179	total: 3.65s	remaining: 9.39s
84:	learn: 2848.8535346	total: 3.67s	remaining: 9.29s
85:	learn: 2847.9270441	total: 3.72s	remaining: 9.27s
86:	learn: 2847.0686979	total: 3.77s	remaining: 9.23s
87:	learn: 2846.3388271	total: 3.88s	remaining: 9.35s
88:	learn: 2845.6268851	total: 4.01s	remaining: 9.5s
89:	learn: 2842.1664845	total: 4.11s	remaining: 9.59s
90:	learn: 2842.1391818	total: 4.12s	remaining: 9.46s
91:	learn: 2841.8030322	total: 4.16s	remaining: 9.4s
92:	learn: 2841.7789038	total: 4.17s	remaining: 9.29s
93:	learn: 2841.2982716	total: 4.22s	remaining: 9.25s
94:	learn: 2840.8000849	total: 4.3s	remaining: 9.29s
95:	learn: 2840.7438649	total: 4.39s	remaining: 9.32s
96:	learn: 2840.2909647	total: 4.47s	remaining: 9.36s
97:	learn: 2840.0733978	total: 4.56s	remaining: 9.4s
98:	learn: 2839.8678259	total: 4.66s	remaining: 9.46s
99:	learn: 2839.5238068	total: 4.71s	remaining: 9.41s
100:	learn: 2839.3324069	total: 4.78s	remaining: 9.42s
101:	learn: 2839.0212820	total: 4.88s	remaining: 9.47s
102:	learn: 2838.7635810	total: 5s	remaining: 9.57s
103:	learn: 2836.8366820	total: 5.07s	remaining: 9.56s
104:	learn: 2836.6012676	total: 5.23s	remaining: 9.71s
105:	learn: 2836.4355083	total: 5.26s	remaining: 9.63s
106:	learn: 2836.4080450	total: 5.29s	remaining: 9.54s
107:	learn: 2833.7341533	total: 5.38s	remaining: 9.56s
108:	learn: 2831.3349622	total: 5.51s	remaining: 9.65s
109:	learn: 2831.1542679	total: 5.63s	remaining: 9.73s
110:	learn: 2830.9911709	total: 5.67s	remaining: 9.66s
111:	learn: 2828.8381998	total: 5.71s	remaining: 9.59s
112:	learn: 2828.8240096	total: 5.73s	remaining: 9.48s
113:	learn: 2828.6903094	total: 5.77s	remaining: 9.42s
114:	learn: 2828.6862687	total: 5.8s	remaining: 9.33s
115:	learn: 2828.5595096	total: 5.94s	remaining: 9.43s
116:	learn: 2828.4458119	total: 6.04s	remaining: 9.44s
117:	learn: 2826.5457857	total: 6.12s	remaining: 9.43s
118:	learn: 2824.8412027	total: 6.22s	remaining: 9.46s
119:	learn: 2824.7873914	total: 6.36s	remaining: 9.53s
120:	learn: 2824.7407686	total: 6.46s	remaining: 9.55s
121:	learn: 2824.6983672	total: 6.55s	remaining: 9.56s
122:	learn: 2824.6160952	total: 6.69s	remaining: 9.63s
123:	learn: 2822.8745095	total: 6.8s	remaining: 9.65s
124:	learn: 2822.8091362	total: 6.92s	remaining: 9.68s
125:	learn: 2822.7407290	total: 7.02s	remaining: 9.69s
126:	learn: 2822.6800734	total: 7.15s	remaining: 9.74s
127:	learn: 2821.3171650	total: 7.23s	remaining: 9.71s
128:	learn: 2821.2899871	total: 7.32s	remaining: 9.7s
129:	learn: 2821.2849182	total: 7.36s	remaining: 9.62s
130:	learn: 2820.0639198	total: 7.47s	remaining: 9.64s
131:	learn: 2818.9738782	total: 7.53s	remaining: 9.59s
132:	learn: 2817.7851833	total: 7.64s	remaining: 9.6s
133:	learn: 2817.7382494	total: 7.76s	remaining: 9.61s
134:	learn: 2817.6968211	total: 7.91s	remaining: 9.67s
135:	learn: 2817.6590781	total: 7.97s	remaining: 9.62s
136:	learn: 2816.7800936	total: 8.05s	remaining: 9.58s
137:	learn: 2816.7739928	total: 8.09s	remaining: 9.49s
138:	learn: 2815.9853822	total: 8.15s	remaining: 9.44s
139:	learn: 2815.9771452	total: 8.2s	remaining: 9.37s
140:	learn: 2815.9639675	total: 8.33s	remaining: 9.4s
141:	learn: 2815.9319236	total: 8.53s	remaining: 9.49s
142:	learn: 2815.9196545	total: 8.61s	remaining: 9.45s
143:	learn: 2815.9090609	total: 8.68s	remaining: 9.4s
144:	learn: 2815.2044026	total: 8.74s	remaining: 9.34s
145:	learn: 2814.5715502	total: 8.8s	remaining: 9.29s
146:	learn: 2814.5626426	total: 8.88s	remaining: 9.24s
147:	learn: 2814.5553844	total: 8.95s	remaining: 9.19s
148:	learn: 2814.5476846	total: 9.02s	remaining: 9.14s
149:	learn: 2813.9821473	total: 9.09s	remaining: 9.09s
150:	learn: 2813.9744493	total: 9.16s	remaining: 9.04s
151:	learn: 2813.4672981	total: 9.22s	remaining: 8.97s
152:	learn: 2813.0107246	total: 9.29s	remaining: 8.92s
153:	learn: 2812.9902375	total: 9.36s	remaining: 8.87s
154:	learn: 2812.9854221	total: 9.45s	remaining: 8.84s
155:	learn: 2812.9660346	total: 9.58s	remaining: 8.84s
156:	learn: 2812.9603446	total: 9.65s	remaining: 8.79s
157:	learn: 2812.5517781	total: 9.73s	remaining: 8.74s
158:	learn: 2812.1850479	total: 9.82s	remaining: 8.71s
159:	learn: 2811.8566181	total: 9.9s	remaining: 8.66s
160:	learn: 2811.5610869	total: 9.97s	remaining: 8.6s
161:	learn: 2811.5591665	total: 10s	remaining: 8.53s
162:	learn: 2811.5546215	total: 10.1s	remaining: 8.49s
163:	learn: 2811.5504127	total: 10.2s	remaining: 8.45s
164:	learn: 2811.2853831	total: 10.3s	remaining: 8.39s
165:	learn: 2811.2828895	total: 10.3s	remaining: 8.33s
166:	learn: 2811.0450376	total: 10.4s	remaining: 8.28s
167:	learn: 2810.8305410	total: 10.5s	remaining: 8.24s
168:	learn: 2810.6387918	total: 10.6s	remaining: 8.2s
169:	learn: 2810.4666179	total: 10.7s	remaining: 8.15s
170:	learn: 2810.1250727	total: 10.7s	remaining: 8.1s
171:	learn: 2809.8151926	total: 10.8s	remaining: 8.05s
172:	learn: 2809.8004310	total: 10.9s	remaining: 8s
173:	learn: 2809.5196661	total: 11s	remaining: 7.94s
174:	learn: 2809.4075932	total: 11s	remaining: 7.88s
175:	learn: 2809.3955351	total: 11.1s	remaining: 7.83s
176:	learn: 2809.2950259	total: 11.2s	remaining: 7.78s
177:	learn: 2809.2041994	total: 11.2s	remaining: 7.71s
178:	learn: 2809.1230461	total: 11.3s	remaining: 7.65s
179:	learn: 2808.9235527	total: 11.4s	remaining: 7.59s
180:	learn: 2808.8579863	total: 11.5s	remaining: 7.54s
181:	learn: 2808.7988703	total: 11.5s	remaining: 7.47s
182:	learn: 2808.6657692	total: 11.7s	remaining: 7.48s
183:	learn: 2808.6636996	total: 11.8s	remaining: 7.43s
184:	learn: 2808.6538630	total: 11.9s	remaining: 7.38s
185:	learn: 2808.6442703	total: 11.9s	remaining: 7.32s
186:	learn: 2808.6363350	total: 12s	remaining: 7.25s
187:	learn: 2808.6280649	total: 12.1s	remaining: 7.21s
188:	learn: 2808.6205382	total: 12.2s	remaining: 7.15s
189:	learn: 2808.6192131	total: 12.2s	remaining: 7.09s
190:	learn: 2808.6178260	total: 12.3s	remaining: 7.03s
191:	learn: 2808.5654244	total: 12.4s	remaining: 6.98s
192:	learn: 2808.5597951	total: 12.5s	remaining: 6.92s
193:	learn: 2808.3923104	total: 12.6s	remaining: 6.86s
194:	learn: 2808.3918034	total: 12.6s	remaining: 6.79s
195:	learn: 2808.3495783	total: 12.7s	remaining: 6.74s
196:	learn: 2808.2016328	total: 12.8s	remaining: 6.68s
197:	learn: 2808.1960697	total: 12.9s	remaining: 6.62s
198:	learn: 2808.1944680	total: 12.9s	remaining: 6.56s
199:	learn: 2808.1600541	total: 13s	remaining: 6.5s
200:	learn: 2808.1294609	total: 13.1s	remaining: 6.45s
201:	learn: 2808.1019738	total: 13.2s	remaining: 6.39s
202:	learn: 2808.0977709	total: 13.3s	remaining: 6.33s
203:	learn: 2808.0934200	total: 13.3s	remaining: 6.28s
204:	learn: 2808.0925907	total: 13.4s	remaining: 6.21s
205:	learn: 2808.0679898	total: 13.5s	remaining: 6.15s
206:	learn: 2808.0458778	total: 13.6s	remaining: 6.09s
207:	learn: 2808.0448535	total: 13.6s	remaining: 6.03s
208:	learn: 2808.0421875	total: 13.7s	remaining: 5.96s
209:	learn: 2808.0384568	total: 13.8s	remaining: 5.9s
210:	learn: 2808.0186533	total: 13.8s	remaining: 5.83s
211:	learn: 2808.0182198	total: 13.9s	remaining: 5.77s
212:	learn: 2808.0004315	total: 14s	remaining: 5.71s
213:	learn: 2807.9843852	total: 14s	remaining: 5.64s
214:	learn: 2807.9842805	total: 14.1s	remaining: 5.57s
215:	learn: 2807.8693139	total: 14.1s	remaining: 5.5s
216:	learn: 2807.8563882	total: 14.2s	remaining: 5.44s
217:	learn: 2807.8554404	total: 14.3s	remaining: 5.38s
218:	learn: 2807.7634702	total: 14.4s	remaining: 5.31s
219:	learn: 2807.6794427	total: 14.4s	remaining: 5.24s
220:	learn: 2807.6026921	total: 14.5s	remaining: 5.17s
221:	learn: 2807.5325803	total: 14.5s	remaining: 5.1s
222:	learn: 2807.5316885	total: 14.6s	remaining: 5.04s
223:	learn: 2807.5200231	total: 14.7s	remaining: 4.99s
224:	learn: 2807.5194065	total: 14.8s	remaining: 4.93s
225:	learn: 2807.5174074	total: 14.9s	remaining: 4.88s
226:	learn: 2807.5069224	total: 15s	remaining: 4.82s
227:	learn: 2807.5064601	total: 15.1s	remaining: 4.76s
228:	learn: 2807.4970673	total: 15.2s	remaining: 4.7s
229:	learn: 2807.4965835	total: 15.2s	remaining: 4.64s
230:	learn: 2807.4241589	total: 15.3s	remaining: 4.57s
231:	learn: 2807.4237666	total: 15.4s	remaining: 4.51s
232:	learn: 2807.4236660	total: 15.5s	remaining: 4.45s
233:	learn: 2807.4160652	total: 15.5s	remaining: 4.38s
234:	learn: 2807.4135018	total: 15.6s	remaining: 4.32s
235:	learn: 2807.4131925	total: 15.7s	remaining: 4.25s
236:	learn: 2807.3479061	total: 15.8s	remaining: 4.2s
237:	learn: 2807.3456252	total: 15.8s	remaining: 4.13s
238:	learn: 2807.2921500	total: 15.9s	remaining: 4.05s
239:	learn: 2807.2860146	total: 16s	remaining: 4s
240:	learn: 2807.2416850	total: 16.1s	remaining: 3.93s
241:	learn: 2807.2414972	total: 16.1s	remaining: 3.86s
242:	learn: 2807.2397640	total: 16.1s	remaining: 3.79s
243:	learn: 2807.2396000	total: 16.2s	remaining: 3.72s
244:	learn: 2807.2378672	total: 16.3s	remaining: 3.66s
245:	learn: 2807.2363125	total: 16.4s	remaining: 3.6s
246:	learn: 2807.2348315	total: 16.4s	remaining: 3.52s
247:	learn: 2807.2295673	total: 16.5s	remaining: 3.46s
248:	learn: 2807.2295174	total: 16.5s	remaining: 3.39s
249:	learn: 2807.2279575	total: 16.6s	remaining: 3.32s
250:	learn: 2807.2278996	total: 16.7s	remaining: 3.26s
251:	learn: 2807.2268100	total: 16.8s	remaining: 3.2s
252:	learn: 2807.2267672	total: 16.8s	remaining: 3.12s
253:	learn: 2807.2264984	total: 16.9s	remaining: 3.06s
254:	learn: 2807.2262961	total: 16.9s	remaining: 2.98s
255:	learn: 2807.2262620	total: 17s	remaining: 2.92s
256:	learn: 2807.2217096	total: 17s	remaining: 2.85s
257:	learn: 2807.1763630	total: 17.1s	remaining: 2.79s
258:	learn: 2807.1722654	total: 17.2s	remaining: 2.73s
259:	learn: 2807.1722350	total: 17.3s	remaining: 2.67s
260:	learn: 2807.1722202	total: 17.4s	remaining: 2.6s
261:	learn: 2807.1685415	total: 17.4s	remaining: 2.53s
262:	learn: 2807.1271087	total: 17.5s	remaining: 2.46s
263:	learn: 2807.1237957	total: 17.6s	remaining: 2.4s
264:	learn: 2807.1208170	total: 17.7s	remaining: 2.34s
265:	learn: 2807.1205870	total: 17.8s	remaining: 2.28s
266:	learn: 2807.1205646	total: 17.9s	remaining: 2.21s
267:	learn: 2807.1203979	total: 17.9s	remaining: 2.14s
268:	learn: 2807.1202425	total: 18s	remaining: 2.07s
269:	learn: 2807.1201727	total: 18.1s	remaining: 2.01s
270:	learn: 2807.0823101	total: 18.2s	remaining: 1.95s
271:	learn: 2807.0822550	total: 18.3s	remaining: 1.88s
272:	learn: 2807.0822353	total: 18.4s	remaining: 1.82s
273:	learn: 2807.0821702	total: 18.5s	remaining: 1.75s
274:	learn: 2807.0820367	total: 18.6s	remaining: 1.69s
275:	learn: 2807.0809524	total: 18.7s	remaining: 1.62s
276:	learn: 2807.0463572	total: 18.8s	remaining: 1.56s
277:	learn: 2807.0147641	total: 18.8s	remaining: 1.49s
278:	learn: 2806.9859094	total: 18.9s	remaining: 1.42s
279:	learn: 2806.9858416	total: 19s	remaining: 1.35s
280:	learn: 2806.9855786	total: 19s	remaining: 1.28s
281:	learn: 2806.9855405	total: 19s	remaining: 1.21s
282:	learn: 2806.9845701	total: 19.1s	remaining: 1.15s
283:	learn: 2806.9845476	total: 19.1s	remaining: 1.08s
284:	learn: 2806.9844999	total: 19.2s	remaining: 1.01s
285:	learn: 2806.9581162	total: 19.2s	remaining: 941ms
286:	learn: 2806.9580922	total: 19.3s	remaining: 873ms
287:	learn: 2806.9580716	total: 19.3s	remaining: 805ms
288:	learn: 2806.9580527	total: 19.4s	remaining: 739ms
289:	learn: 2806.9579479	total: 19.5s	remaining: 671ms
290:	learn: 2806.9552838	total: 19.6s	remaining: 606ms
291:	learn: 2806.9528892	total: 19.6s	remaining: 538ms
292:	learn: 2806.9527425	total: 19.8s	remaining: 472ms
293:	learn: 2806.9526495	total: 19.9s	remaining: 405ms
294:	learn: 2806.9518449	total: 19.9s	remaining: 338ms
295:	learn: 2806.9518356	total: 20s	remaining: 270ms
296:	learn: 2806.9517515	total: 20s	remaining: 202ms
297:	learn: 2806.9517234	total: 20.1s	remaining: 135ms
298:	learn: 2806.9517165	total: 20.1s	remaining: 67.4ms
299:	learn: 2806.9517117	total: 20.2s	remaining: 0us