<a href="https://colab.research.google.com/github/AI01010/HackAI/blob/main/HackAI_SauceBros_Challenge_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Necessary Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Dataset

In [2]:
#Mounting the drive
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
file_path_menu_breakdown = '/content/drive/My Drive/menu-breakdown-jan1-dec31-2023.csv'
df_menu_breakdown = pd.read_csv(file_path_menu_breakdown)

file_path_sales_2025 =  '/content/drive/My Drive/sales-by-date-jan1-apr18-2025.csv'
df_sales_2025 = pd.read_csv(file_path_sales_2025)

file_path_sales_2023_part1 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2023.csv'
df_sales_2023_part1 = pd.read_csv(file_path_sales_2023_part1)

file_path_sales_2023_part2 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2023 (1).csv'
df_sales_2023_part2 = pd.read_csv(file_path_sales_2023_part2)

file_path_sales_2024 = '/content/drive/My Drive/sales-by-date-jan1-dec31-2024.csv'
df_sales_2024 = pd.read_csv(file_path_sales_2024)

file_path_sales_time_2023 = '/content/drive/My Drive/sales-by-time-jan1-dec31-2023.csv'
df_sales_time_2023 = pd.read_csv(file_path_sales_time_2023)

file_path_sales_time_2024 = '/content/drive/My Drive/sales-by-time-jan1-dec31-2024.csv'
df_sales_time_2024 = pd.read_csv(file_path_sales_time_2024)

file_path_sales_time_2025 = '/content/drive/My Drive/sales-by-time-jan1-apr18-2025.csv'
df_sales_time_2025 = pd.read_csv(file_path_sales_time_2025)

file_path_sales_item_2023 = '/content/drive/My Drive/Item Sales 2023-01-01 - 2023-12-31.csv'
df_sales_item_2023_copy = pd.read_csv(file_path_sales_item_2023)

file_path_sales_item_2024 ='/content/drive/My Drive/Item Sales 2024-01-01 - 2024-12-31.csv'
df_sales_item_2024 = pd.read_csv(file_path_sales_item_2024)

#Data Overview

In [ ]:
print(df_menu_breakdown)

                          Sales Category       Item Name  Modifier  \
No Sales Category                    NaN             NaN       NaN
No Sales Category  Naga Habanero Chicken             NaN       NaN
No Sales Category  Naga Habanero Chicken  light cilantro       NaN
No Sales Category  Naga Habanero Chicken        Jalapeno       NaN
No Sales Category  Naga Habanero Chicken       Pepperoni       NaN
...                                  ...             ...       ...
Pizza                          Hot Honey             NaN       NaN
Pizza                 Red Peppers Bags 3             NaN       NaN
Pizza                         Side Basil             NaN       NaN
Pizza                      Side Cilantro             NaN       NaN
Pizza                            Soda 2L             NaN       NaN

                   Unnamed: 3  Avg Price  Quantity  Gross Sales  \
No Sales Category   16.230000     5119.0  83106.70          0.0
No Sales Category   22.333365      542.0  12025.89          0.0
No Sales Category         NaN        1.0      0.00          0.0
No Sales Category         NaN       15.0     14.85          0.0
No Sales Category         NaN       12.0     35.88          0.0
...                       ...        ...       ...          ...
Pizza                1.629344       81.0    129.19          0.4
Pizza                0.840000        7.0      6.13          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                3.990000       10.0     39.90          0.0

                   Discount Amount  Net Sales
No Sales Category         83106.70        NaN
No Sales Category         12025.89        NaN
No Sales Category             0.00        NaN
No Sales Category            14.85        NaN
No Sales Category            35.88        NaN
...                            ...        ...
Pizza                       126.80        NaN
Pizza                         6.13        NaN
Pizza                         0.50        NaN
Pizza                         0.50        NaN
Pizza                        39.90        NaN

[1237 rows x 9 columns]

In [ ]:
df_menu_breakdown_cleaned = df_menu_breakdown.copy()
for col in df_menu_breakdown.columns:
    if df_menu_breakdown[col].isnull().all():
        df_menu_breakdown_cleaned = df_menu_breakdown_cleaned.drop(col, axis=1)

print(df_menu_breakdown_cleaned)

                          Sales Category       Item Name  Modifier  \
No Sales Category                    NaN             NaN       NaN
No Sales Category  Naga Habanero Chicken             NaN       NaN
No Sales Category  Naga Habanero Chicken  light cilantro       NaN
No Sales Category  Naga Habanero Chicken        Jalapeno       NaN
No Sales Category  Naga Habanero Chicken       Pepperoni       NaN
...                                  ...             ...       ...
Pizza                          Hot Honey             NaN       NaN
Pizza                 Red Peppers Bags 3             NaN       NaN
Pizza                         Side Basil             NaN       NaN
Pizza                      Side Cilantro             NaN       NaN
Pizza                            Soda 2L             NaN       NaN

                   Unnamed: 3  Avg Price  Quantity  Gross Sales  \
No Sales Category   16.230000     5119.0  83106.70          0.0
No Sales Category   22.333365      542.0  12025.89          0.0
No Sales Category         NaN        1.0      0.00          0.0
No Sales Category         NaN       15.0     14.85          0.0
No Sales Category         NaN       12.0     35.88          0.0
...                       ...        ...       ...          ...
Pizza                1.629344       81.0    129.19          0.4
Pizza                0.840000        7.0      6.13          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                0.500000        1.0      0.50          0.0
Pizza                3.990000       10.0     39.90          0.0

                   Discount Amount
No Sales Category         83106.70
No Sales Category         12025.89
No Sales Category             0.00
No Sales Category            14.85
No Sales Category            35.88
...                            ...
Pizza                       126.80
Pizza                         6.13
Pizza                         0.50
Pizza                         0.50
Pizza                        39.90

[1237 rows x 8 columns]

#Sales by Date

In [ ]:
print(df_sales_2025.info())
print(df_sales_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 01/01/2025 to 04/18/2025
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       108 non-null    datetime64[ns]
 1   Net Sales  108 non-null    int64
 2   Orders     108 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 8.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2025 1970-01-01 00:00:00.000000000          0       0     NaN
01/02/2025 1970-01-01 00:00:00.000000347         11      11     NaN
01/03/2025 1970-01-01 00:00:00.000000871         18      18     NaN
01/04/2025 1970-01-01 00:00:00.000000447         15      15     NaN
01/05/2025 1970-01-01 00:00:00.000000823         25      25     NaN
...                                  ...        ...     ...     ...
04/14/2025 1970-01-01 00:00:00.000000000          0       0     NaN
04/15/2025 1970-01-01 00:00:00.000000669         24      24     NaN
04/16/2025 1970-01-01 00:00:00.000000458         15      15     NaN
04/17/2025 1970-01-01 00:00:00.000000784         26      26     NaN
04/18/2025 1970-01-01 00:00:00.000001158         36      36     NaN

[108 rows x 4 columns]

In [ ]:
df_sales_2025['Date'] = pd.to_datetime(df_sales_2025['Date'])
print(df_sales_2025.info())
print(df_sales_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 01/01/2025 to 04/18/2025
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       108 non-null    datetime64[ns]
 1   Net Sales  108 non-null    int64
 2   Orders     108 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 8.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2025 1970-01-01 00:00:00.000000000          0       0     NaN
01/02/2025 1970-01-01 00:00:00.000000347         11      11     NaN
01/03/2025 1970-01-01 00:00:00.000000871         18      18     NaN
01/04/2025 1970-01-01 00:00:00.000000447         15      15     NaN
01/05/2025 1970-01-01 00:00:00.000000823         25      25     NaN
...                                  ...        ...     ...     ...
04/14/2025 1970-01-01 00:00:00.000000000          0       0     NaN
04/15/2025 1970-01-01 00:00:00.000000669         24      24     NaN
04/16/2025 1970-01-01 00:00:00.000000458         15      15     NaN
04/17/2025 1970-01-01 00:00:00.000000784         26      26     NaN
04/18/2025 1970-01-01 00:00:00.000001158         36      36     NaN

[108 rows x 4 columns]

In [ ]:
df_sales_2025.to_csv('sales_2025_cleaned.csv', index=False)

In [ ]:
print(df_sales_2023_part1.info())
print(df_sales_2023_part1)

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2023 1970-01-01 00:00:00.000000493         15      15     NaN
01/02/2023 1970-01-01 00:00:00.000000000          0       0     NaN
01/03/2023 1970-01-01 00:00:00.000000360         12      12     NaN
01/04/2023 1970-01-01 00:00:00.000000254          9       9     NaN
01/05/2023 1970-01-01 00:00:00.000000405         16      16     NaN
...                                  ...        ...     ...     ...
12/27/2023 1970-01-01 00:00:00.000000672         17      17     NaN
12/28/2023 1970-01-01 00:00:00.000000878         24      24     NaN
12/29/2023 1970-01-01 00:00:00.000001284         32      32     NaN
12/30/2023 1970-01-01 00:00:00.000001417         43      43     NaN
12/31/2023 1970-01-01 00:00:00.000001136         31      31     NaN

[365 rows x 4 columns]

In [ ]:
df_sales_2023_part1['Date'] = pd.to_datetime(df_sales_2023_part1['Date'])
print(df_sales_2023_part1.info())
print(df_sales_2023_part1)

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None
                                    Date  Net Sales  Orders  Guests
01/01/2023 1970-01-01 00:00:00.000000493         15      15     NaN
01/02/2023 1970-01-01 00:00:00.000000000          0       0     NaN
01/03/2023 1970-01-01 00:00:00.000000360         12      12     NaN
01/04/2023 1970-01-01 00:00:00.000000254          9       9     NaN
01/05/2023 1970-01-01 00:00:00.000000405         16      16     NaN
...                                  ...        ...     ...     ...
12/27/2023 1970-01-01 00:00:00.000000672         17      17     NaN
12/28/2023 1970-01-01 00:00:00.000000878         24      24     NaN
12/29/2023 1970-01-01 00:00:00.000001284         32      32     NaN
12/30/2023 1970-01-01 00:00:00.000001417         43      43     NaN
12/31/2023 1970-01-01 00:00:00.000001136         31      31     NaN

[365 rows x 4 columns]

In [ ]:
df_sales_2023_part1.to_csv('sales_2023_part1_cleaned.csv', index=False)

In [ ]:
df_sales_2023_part2['Date'] = pd.to_datetime(df_sales_2023_part2['Date'])
print(df_sales_2023_part2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 01/01/2023 to 12/31/2023
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       365 non-null    datetime64[ns]
 1   Net Sales  365 non-null    int64
 2   Orders     365 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None

In [ ]:
df_sales_2023_part2.to_csv('sales_2023_part2_cleaned.csv', index=False)

In [ ]:
print(df_sales_2024.info())
print(df_sales_2024)

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 01/01/2024 to 12/31/2024
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    float64
 1   Net Sales  366 non-null    int64
 2   Orders     366 non-null    int64
 3   Guests     0 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 14.3+ KB
None
              Date  Net Sales  Orders  Guests
01/01/2024    0.00          0       0     NaN
01/02/2024  656.12         19      19     NaN
01/03/2024  666.52         17      17     NaN
01/04/2024  373.35         12      12     NaN
01/05/2024  817.98         24      24     NaN
...            ...        ...     ...     ...
12/27/2024  769.41         20      20     NaN
12/28/2024  759.91         23      23     NaN
12/29/2024  961.75         16      16     NaN
12/30/2024    0.00          0       0     NaN
12/31/2024  623.86         16      16     NaN

[366 rows x 4 columns]

In [ ]:
df_sales_2024['Date'] = pd.to_datetime(df_sales_2024['Date'])
print(df_sales_2024.info())

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 01/01/2024 to 12/31/2024
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       366 non-null    datetime64[ns]
 1   Net Sales  366 non-null    int64
 2   Orders     366 non-null    int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.3+ KB
None

In [ ]:
df_sales_2024.to_csv('sales_2024_cleaned.csv', index=False)

#Sales by Time

In [ ]:
df_sales_time_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     float64
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 640.0+ bytes

In [ ]:
df_sales_time_2023['Time'] = pd.to_datetime(df_sales_time_2023['Time'])
print(df_sales_time_2023.info())
print(df_sales_time_2023)

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     datetime64[ns]
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 640.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000380         18      18     NaN
3:00 AM  1970-01-01 00:00:00.000000035          1       1     NaN
5:00 AM  1970-01-01 00:00:00.000000025          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000000383         12      12     NaN
12:00 PM 1970-01-01 00:00:00.000008077        242     242     NaN
1:00 PM  1970-01-01 00:00:00.000006282        217     217     NaN
2:00 PM  1970-01-01 00:00:00.000007907        244     244     NaN
3:00 PM  1970-01-01 00:00:00.000011849        382     382     NaN
4:00 PM  1970-01-01 00:00:00.000017227        520     520     NaN
5:00 PM  1970-01-01 00:00:00.000031480        882     882     NaN
6:00 PM  1970-01-01 00:00:00.000037710       1098    1098     NaN
7:00 PM  1970-01-01 00:00:00.000033278        986     986     NaN
8:00 PM  1970-01-01 00:00:00.000023993        757     757     NaN
9:00 PM  1970-01-01 00:00:00.000018345        604     604     NaN
10:00 PM 1970-01-01 00:00:00.000009742        316     316     NaN
11:00 PM 1970-01-01 00:00:00.000002264         88      88     NaN

In [ ]:
df_sales_time_2023.to_csv('sales_time_2023_cleaned.csv', index=False)

In [ ]:
df_sales_time_2024['Time'] = pd.to_datetime(df_sales_time_2024['Time'])
print(df_sales_time_2024.info())
print(df_sales_time_2024)

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       19 non-null     datetime64[ns]
 1   Net Sales  19 non-null     int64
 2   Orders     19 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 760.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000098          3       3     NaN
1:00 AM  1970-01-01 00:00:00.000000029          1       1     NaN
3:00 AM  1970-01-01 00:00:00.000000071          1       1     NaN
4:00 AM  1970-01-01 00:00:00.000000033          1       1     NaN
7:00 AM  1970-01-01 00:00:00.000000242          1       1     NaN
10:00 AM 1970-01-01 00:00:00.000000024          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000000773         20      20     NaN
12:00 PM 1970-01-01 00:00:00.000009594        247     247     NaN
1:00 PM  1970-01-01 00:00:00.000007811        202     202     NaN
2:00 PM  1970-01-01 00:00:00.000011856        247     247     NaN
3:00 PM  1970-01-01 00:00:00.000013926        398     398     NaN
4:00 PM  1970-01-01 00:00:00.000016769        468     468     NaN
5:00 PM  1970-01-01 00:00:00.000029609        777     777     NaN
6:00 PM  1970-01-01 00:00:00.000038158       1045    1045     NaN
7:00 PM  1970-01-01 00:00:00.000033700        950     950     NaN
8:00 PM  1970-01-01 00:00:00.000024683        773     773     NaN
9:00 PM  1970-01-01 00:00:00.000019813        674     674     NaN
10:00 PM 1970-01-01 00:00:00.000010309        393     393     NaN
11:00 PM 1970-01-01 00:00:00.000002011         83      83     NaN

In [ ]:
df_sales_time_2024.to_csv('sales_time_2024_cleaned.csv', index=False)

In [ ]:
df_sales_time_2025['Time'] = pd.to_datetime(df_sales_time_2025['Time'])
print(df_sales_time_2025.info())
print(df_sales_time_2025)

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 12:00 AM to 11:00 PM
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       16 non-null     datetime64[ns]
 1   Net Sales  16 non-null     int64
 2   Orders     16 non-null     int64
 3   Guests     0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 640.0+ bytes
None
                                  Time  Net Sales  Orders  Guests
12:00 AM 1970-01-01 00:00:00.000000002          1       1     NaN
3:00 AM  1970-01-01 00:00:00.000000099          1       1     NaN
10:00 AM 1970-01-01 00:00:00.000000019          1       1     NaN
11:00 AM 1970-01-01 00:00:00.000001068          9       9     NaN
12:00 PM 1970-01-01 00:00:00.000004408        123     123     NaN
1:00 PM  1970-01-01 00:00:00.000005593         89      89     NaN
2:00 PM  1970-01-01 00:00:00.000004789        115     115     NaN
3:00 PM  1970-01-01 00:00:00.000005038        151     151     NaN
4:00 PM  1970-01-01 00:00:00.000008922        243     243     NaN
5:00 PM  1970-01-01 00:00:00.000017214        417     417     NaN
6:00 PM  1970-01-01 00:00:00.000021002        573     573     NaN
7:00 PM  1970-01-01 00:00:00.000015062        436     436     NaN
8:00 PM  1970-01-01 00:00:00.000007836        262     262     NaN
9:00 PM  1970-01-01 00:00:00.000004497        155     155     NaN
10:00 PM 1970-01-01 00:00:00.000003171        106     106     NaN
11:00 PM 1970-01-01 00:00:00.000000305         13      13     NaN

In [ ]:
df_sales_time_2025.to_csv('sales_time_2025_cleaned.csv', index=False)

#Sales by Item

In [ ]:
print(df_sales_item_2023_copy.info())
print(df_sales_item_2023_copy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           53 non-null     object
 1   Quantity Sold  53 non-null     int64
 2   Total Sales    53 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.4+ KB
None
                                              Item  Quantity Sold Total Sales
0                                     Chicken Wrap             83     $663.17
1                                            Ranch            360     $578.40
2                              Beef Chopped Cheese             59     $471.41
3                                    Alfredo Pasta             41     $409.59
4                                Naga Chicken Wrap             50     $389.50
5                                         Naga Dip            185     $368.15
6                                 Garlic Beef Wrap             46     $353.54
7                                        Hot Honey            163     $324.37
8                              Naga Habanero Pasta             27     $269.73
9                               Tomato Basil Pasta             18     $179.82
10                                      Soda (Can)             42     $117.25
11                                Meatlovers Pizza            405      $99.95
12                                     Paneer Wrap             10      $79.90
13                                   Mushroom Wrap              7      $55.93
14                               Soft Drinks (Can)             22      $43.28
15                                   Aged Parmesan             17      $33.83
16                                    Mushrom Wrap              4      $30.96
17                                   Water (small)             13      $24.27
18                              Red Peppers Bags 3             21      $18.79
19                                 Parmesan Bags 3             15      $12.45
20                                   Side Jalapeno             11      $10.89
21                                    Chicken Wrap              1       $7.99
22                             Beef Chopped Cheese              1       $7.99
23                                      Side Basil             10       $5.54
24                                     Side Olives              5       $4.95
25                             Side Banana Peppers              3       $2.97
26                                   Side Cilantro              5       $2.86
27                           4Cheez with Hot Honey            162       $0.00
28                          Naga Habanero Mushroom             44       $0.00
29                                  Chicken Bianca             93       $0.00
30                             Spicy Naga Balachao             12       $0.00
31                                      Taco Pizza              6       $0.00
32                             Spicy Naga Mushroom             10       $0.00
33                                    Veggie Pizza             70       $0.00
34                                   Spicy Italian              5       $0.00
35                            Alfredo Cheese Pizza             68       $0.00
36                                   Bongo Tex Mex             30       $0.00
37                                      Korean BBQ             26       $0.00
38                          Naga Habanero Balachao             20       $0.00
39                              Spicy Naga Chicken            220       $0.00
40                            Naga Habanero Paneer             64       $0.00
41                                   Pepper Lovers             26       $0.00
42                                 Harissa Chicken            183       $0.00
43                                   Cheddar Birds             26       $0.00
44                      Bros favorite Cheese Pizza            366       $0.00
45                           Naga Habanero Chicken            277       $0.00
46                                 Beef Taco Pizza            102       $0.00
47                            Garlic Ghee Mushroom            169       $0.00
48                                Customized Pizza             70       $0.00
49                                Garlic Artichoke              4       $0.00
50  Jhura Beef Pesto (contains Pine & Cashew Nuts)             91       $0.00
51              Bengali Beef Pesto (Contains Nuts)            105       $0.00
52                                  Beef Pepperoni            524       $0.00

In [ ]:
df_sales_item_2023_copy['Total Sales'] = df_sales_item_2023_copy['Total Sales'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
print(df_sales_item_2023_copy.info())
print(df_sales_item_2023_copy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           53 non-null     object
 1   Quantity Sold  53 non-null     int64
 2   Total Sales    53 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.4+ KB
None
                                              Item  Quantity Sold  Total Sales
0                                     Chicken Wrap             83       663.17
1                                            Ranch            360       578.40
2                              Beef Chopped Cheese             59       471.41
3                                    Alfredo Pasta             41       409.59
4                                Naga Chicken Wrap             50       389.50
5                                         Naga Dip            185       368.15
6                                 Garlic Beef Wrap             46       353.54
7                                        Hot Honey            163       324.37
8                              Naga Habanero Pasta             27       269.73
9                               Tomato Basil Pasta             18       179.82
10                                      Soda (Can)             42       117.25
11                                Meatlovers Pizza            405        99.95
12                                     Paneer Wrap             10        79.90
13                                   Mushroom Wrap              7        55.93
14                               Soft Drinks (Can)             22        43.28
15                                   Aged Parmesan             17        33.83
16                                    Mushrom Wrap              4        30.96
17                                   Water (small)             13        24.27
18                              Red Peppers Bags 3             21        18.79
19                                 Parmesan Bags 3             15        12.45
20                                   Side Jalapeno             11        10.89
21                                    Chicken Wrap              1         7.99
22                             Beef Chopped Cheese              1         7.99
23                                      Side Basil             10         5.54
24                                     Side Olives              5         4.95
25                             Side Banana Peppers              3         2.97
26                                   Side Cilantro              5         2.86
27                           4Cheez with Hot Honey            162         0.00
28                          Naga Habanero Mushroom             44         0.00
29                                  Chicken Bianca             93         0.00
30                             Spicy Naga Balachao             12         0.00
31                                      Taco Pizza              6         0.00
32                             Spicy Naga Mushroom             10         0.00
33                                    Veggie Pizza             70         0.00
34                                   Spicy Italian              5         0.00
35                            Alfredo Cheese Pizza             68         0.00
36                                   Bongo Tex Mex             30         0.00
37                                      Korean BBQ             26         0.00
38                          Naga Habanero Balachao             20         0.00
39                              Spicy Naga Chicken            220         0.00
40                            Naga Habanero Paneer             64         0.00
41                                   Pepper Lovers             26         0.00
42                                 Harissa Chicken            183         0.00
43                                   Cheddar Birds             26         0.00
44                      Bros favorite Cheese Pizza            366         0.00
45                           Naga Habanero Chicken            277         0.00
46                                 Beef Taco Pizza            102         0.00
47                            Garlic Ghee Mushroom            169         0.00
48                                Customized Pizza             70         0.00
49                                Garlic Artichoke              4         0.00
50  Jhura Beef Pesto (contains Pine & Cashew Nuts)             91         0.00
51              Bengali Beef Pesto (Contains Nuts)            105         0.00
52                                  Beef Pepperoni            524         0.00

In [ ]:
item_frequencies = df_sales_item_2023_copy['Item'].value_counts()
print(item_frequencies)

Item
Chicken Wrap                                      2
Beef Chopped Cheese                               2
Ranch                                             1
Alfredo Pasta                                     1
Naga Chicken Wrap                                 1
Naga Dip                                          1
Garlic Beef Wrap                                  1
Hot Honey                                         1
Naga Habanero Pasta                               1
Tomato Basil Pasta                                1
Soda (Can)                                        1
Meatlovers Pizza                                  1
Paneer Wrap                                       1
Mushroom Wrap                                     1
Soft Drinks (Can)                                 1
Aged Parmesan                                     1
Mushrom Wrap                                      1
Water (small)                                     1
Red Peppers Bags 3                                1
Parmesan Bags 3                                   1
Side Jalapeno                                     1
Side Basil                                        1
Side Olives                                       1
Side Banana Peppers                               1
Side Cilantro                                     1
4Cheez with Hot Honey                             1
Naga Habanero Mushroom                            1
Chicken Bianca                                    1
Spicy Naga Balachao                               1
Taco Pizza                                        1
Spicy Naga Mushroom                               1
Veggie Pizza                                      1
Spicy Italian                                     1
Alfredo Cheese Pizza                              1
Bongo Tex Mex                                     1
Korean BBQ                                        1
Naga Habanero Balachao                            1
Spicy Naga Chicken                                1
Naga Habanero Paneer                              1
Pepper Lovers                                     1
Harissa Chicken                                   1
Cheddar Birds                                     1
Bros favorite Cheese Pizza                        1
Naga Habanero Chicken                             1
Beef Taco Pizza                                   1
Garlic Ghee Mushroom                              1
Customized Pizza                                  1
Garlic Artichoke                                  1
Jhura Beef Pesto (contains Pine & Cashew Nuts)    1
Bengali Beef Pesto (Contains Nuts)                1
Beef Pepperoni                                    1
Name: count, dtype: int64

In [ ]:
df_sales_item_2023_copy.to_csv('sales_item_2023_cleaned.csv', index=False)

In [ ]:
df_sales_item_2024['Total Sales'] = df_sales_item_2024['Total Sales'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
print(df_sales_item_2024.info())
print(df_sales_item_2024)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item           36 non-null     object
 1   Quantity Sold  36 non-null     int64
 2   Total Sales    36 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 996.0+ bytes
None
                                  Item  Quantity Sold  Total Sales
0                        Alfredo Pasta             79       789.21
1                         Chicken Wrap             94       751.06
2                  Beef Chopped Cheese             80       639.20
3                   Tomato Basil Pasta             49       489.51
4                                Ranch            343       339.57
5                             Naga Dip            148       294.52
6                            Hot Honey            140       278.60
7                  Naga Habanero Pasta             27       269.73
8                           Soda (Can)             71       177.50
9                          Paneer Wrap             18       143.82
10                       Mushroom Wrap             12        95.88
11                     Parmesan Bags 3             26        25.74
12                  Red Peppers Bags 3             20        19.80
13                       Water (small)              5         9.95
14                       Side Jalapeno              6         5.94
15                         Side Olives              5         4.95
16                          Side Basil              3         1.50
17                       Side Cilantro              1         0.50
18               Naga Habanero Chicken            475         0.00
19                    Garlic Artichoke             61         0.00
20  Bengali Beef Pesto (Contains Nuts)            178         0.00
21                        Veggie Pizza            132         0.00
22               4Cheez with Hot Honey            165         0.00
23                Alfredo Cheese Pizza             44         0.00
24                      Beef Pepperoni            520         0.00
25                     Alfredo Chicken            121         0.00
26              Naga Habanero Mushroom             63         0.00
27                    Meatlovers Pizza            425         0.00
28                Garlic Ghee Mushroom            104         0.00
29                    Customized Pizza             79         0.00
30                     Beef Taco Pizza            170         0.00
31                Classic Cheese Pizza            376         0.00
32                     Harissa Chicken            233         0.00
33              Naga Habanero Balachao             21         0.00
34                          Korean BBQ            198         0.00
35                Naga Habanero Paneer             94         0.00

In [ ]:
df_sales_item_2024.to_csv('sales_item_2024_cleaned.csv', index=False)

In [5]:
from catboost import CatBoostRegressor
from sklearn.model_selection import train_test_split

# STARTING HERE WILL BE CODE FOR THE RANDOM FOREST WITH THE FOOD GENERATOR
foodData = pd.read_csv("FinalData/IndividualFoodData.csv")

print(foodData)

# return to x the dataframe without the output column
X = foodData.drop("Revenue", axis=1)
Y = foodData["Revenue"]


# want only a very small amount to be used for testing, because we don't have many points to begin with to train our model
# what we do is split x into values that are used for training and ones used to evlaute model.
X_train , X_test , Y_train, Y_test = train_test_split(X, Y, test_size=None, random_state=42)

# defining elements for our forest. Ngl I don't know too much on what these do
catBooster = CatBoostRegressor(
    iterations=300,  # number of trees
    depth=10,  # depth of each tree
    learning_rate=0.1,  # how much to adjust each tree
    random_state=42,
    cat_features=[0]  # Indicate that 'food' column is categorical (index 0, or your actual column name)
)

# now fitting our forest to our train data
catBooster.fit(X_train, Y_train)

booster_preds_train = catBooster.predict(X_train)

booster_preds_test = catBooster.predict(X_test)

catBooster.save_model('MlAlgos/catboost_model.cbm')

                      Food  Date   Revenue
0               Korean BBQ  2023    801.57
1    Naga Habanero Chicken  2023  14443.13
2       Spicy Naga Chicken  2023  10830.08
3          Beef Taco Pizza  2023   3267.07
4               Taco Pizza  2023    457.78
..                     ...   ...       ...
134            Side Olives  2025      1.98
135          Side Jalapeno  2025      0.99
136       Side Garlic Mayo  2025     15.84
137         Marinara Sauce  2025     13.93
138                14" Pie  2025    180.00

[139 rows x 3 columns]
0:	learn: 3643.4530027	total: 164ms	remaining: 49s
1:	learn: 3592.8938226	total: 183ms	remaining: 27.3s
2:	learn: 3559.3298704	total: 212ms	remaining: 21s
3:	learn: 3536.5275910	total: 223ms	remaining: 16.5s
4:	learn: 3495.1475406	total: 266ms	remaining: 15.7s
5:	learn: 3463.4087890	total: 293ms	remaining: 14.4s
6:	learn: 3425.5771052	total: 336ms	remaining: 14.1s
7:	learn: 3412.8264058	total: 349ms	remaining: 12.8s
8:	learn: 3402.7523886	total: 364ms	remaining: 11.8s
9:	learn: 3369.5401152	total: 411ms	remaining: 11.9s
10:	learn: 3346.1983269	total: 436ms	remaining: 11.4s
11:	learn: 3324.1684376	total: 463ms	remaining: 11.1s
12:	learn: 3281.3236649	total: 514ms	remaining: 11.4s
13:	learn: 3270.4787715	total: 540ms	remaining: 11s
14:	learn: 3244.4734939	total: 577ms	remaining: 11s
15:	learn: 3227.4544674	total: 602ms	remaining: 10.7s
16:	learn: 3219.4617165	total: 635ms	remaining: 10.6s
17:	learn: 3190.9131007	total: 683ms	remaining: 10.7s
18:	learn: 3185.3553912	total: 700ms	remaining: 10.4s
19:	learn: 3170.2836496	total: 733ms	remaining: 10.3s
20:	learn: 3168.3006518	total: 742ms	remaining: 9.86s
21:	learn: 3160.9300154	total: 770ms	remaining: 9.73s
22:	learn: 3156.2846805	total: 792ms	remaining: 9.54s
23:	learn: 3148.0969748	total: 839ms	remaining: 9.65s
24:	learn: 3144.1943095	total: 865ms	remaining: 9.51s
25:	learn: 3126.1285906	total: 905ms	remaining: 9.54s
26:	learn: 3121.3737432	total: 928ms	remaining: 9.38s
27:	learn: 3098.9157427	total: 982ms	remaining: 9.54s
28:	learn: 3097.5241544	total: 996ms	remaining: 9.3s
29:	learn: 3094.2387233	total: 1.02s	remaining: 9.2s
30:	learn: 3087.7478941	total: 1.05s	remaining: 9.08s
31:	learn: 3087.1969982	total: 1.06s	remaining: 8.86s
32:	learn: 3084.0446659	total: 1.08s	remaining: 8.71s
33:	learn: 3082.7840584	total: 1.09s	remaining: 8.56s
34:	learn: 3082.7830526	total: 1.1s	remaining: 8.33s
35:	learn: 3078.8963966	total: 1.16s	remaining: 8.47s
36:	learn: 3073.6387782	total: 1.19s	remaining: 8.47s
37:	learn: 3073.0175528	total: 1.2s	remaining: 8.3s
38:	learn: 3063.2615519	total: 1.23s	remaining: 8.26s
39:	learn: 3063.2615122	total: 1.24s	remaining: 8.06s
40:	learn: 3051.2669223	total: 1.28s	remaining: 8.06s
41:	learn: 3050.2080371	total: 1.3s	remaining: 7.96s
42:	learn: 3049.7194744	total: 1.31s	remaining: 7.81s
43:	learn: 3048.8803376	total: 1.32s	remaining: 7.71s
44:	learn: 3047.0508274	total: 1.35s	remaining: 7.66s
45:	learn: 3047.0506950	total: 1.36s	remaining: 7.49s
46:	learn: 3032.6752312	total: 1.4s	remaining: 7.52s
47:	learn: 3020.0518881	total: 1.44s	remaining: 7.55s
48:	learn: 3019.1954724	total: 1.46s	remaining: 7.46s
49:	learn: 3012.2567613	total: 1.51s	remaining: 7.54s
50:	learn: 3008.1527515	total: 1.54s	remaining: 7.54s
51:	learn: 3005.4177919	total: 1.57s	remaining: 7.49s
52:	learn: 3005.3352447	total: 1.58s	remaining: 7.38s
53:	learn: 3005.1247853	total: 1.6s	remaining: 7.27s
54:	learn: 3004.6010654	total: 1.61s	remaining: 7.16s
55:	learn: 2993.6559937	total: 1.65s	remaining: 7.2s
56:	learn: 2992.0530409	total: 1.68s	remaining: 7.17s
57:	learn: 2983.6897754	total: 1.75s	remaining: 7.3s
58:	learn: 2974.3631618	total: 1.82s	remaining: 7.43s
59:	learn: 2966.5241143	total: 1.86s	remaining: 7.46s
60:	learn: 2966.3008022	total: 1.88s	remaining: 7.35s
61:	learn: 2955.4252147	total: 1.93s	remaining: 7.42s
62:	learn: 2950.8997897	total: 1.97s	remaining: 7.39s
63:	learn: 2950.3164359	total: 2s	remaining: 7.39s
64:	learn: 2943.6859497	total: 2.04s	remaining: 7.38s
65:	learn: 2934.8061630	total: 2.08s	remaining: 7.36s
66:	learn: 2929.1973383	total: 2.13s	remaining: 7.42s
67:	learn: 2923.4619990	total: 2.17s	remaining: 7.41s
68:	learn: 2918.6442136	total: 2.25s	remaining: 7.55s
69:	learn: 2913.7141400	total: 2.34s	remaining: 7.69s
70:	learn: 2913.7068219	total: 2.35s	remaining: 7.57s
71:	learn: 2907.3468722	total: 2.44s	remaining: 7.72s
72:	learn: 2903.2270173	total: 2.48s	remaining: 7.71s
73:	learn: 2898.7410752	total: 2.53s	remaining: 7.74s
74:	learn: 2894.8275960	total: 2.57s	remaining: 7.72s
75:	learn: 2886.8492464	total: 2.62s	remaining: 7.71s
76:	learn: 2883.6503164	total: 2.65s	remaining: 7.69s
77:	learn: 2879.8431887	total: 2.71s	remaining: 7.72s
78:	learn: 2873.0908922	total: 2.79s	remaining: 7.81s
79:	learn: 2870.4707942	total: 2.83s	remaining: 7.79s
80:	learn: 2867.7359916	total: 2.89s	remaining: 7.81s
81:	learn: 2865.1749243	total: 2.96s	remaining: 7.88s
82:	learn: 2862.2339038	total: 3.02s	remaining: 7.89s
83:	learn: 2859.1121611	total: 3.16s	remaining: 8.13s
84:	learn: 2856.2336735	total: 3.26s	remaining: 8.24s
85:	learn: 2853.5677583	total: 3.31s	remaining: 8.25s
86:	learn: 2851.3503225	total: 3.37s	remaining: 8.25s
87:	learn: 2846.5517117	total: 3.42s	remaining: 8.25s
88:	learn: 2844.5686000	total: 3.5s	remaining: 8.31s
89:	learn: 2842.9562655	total: 3.56s	remaining: 8.3s
90:	learn: 2839.4627822	total: 3.61s	remaining: 8.28s
91:	learn: 2837.7987045	total: 3.67s	remaining: 8.29s
92:	learn: 2837.1221565	total: 3.71s	remaining: 8.26s
93:	learn: 2835.6295937	total: 3.77s	remaining: 8.27s
94:	learn: 2834.0755778	total: 3.82s	remaining: 8.25s
95:	learn: 2832.7678993	total: 3.88s	remaining: 8.24s
96:	learn: 2831.3706783	total: 3.94s	remaining: 8.24s
97:	learn: 2830.0529718	total: 4.01s	remaining: 8.27s
98:	learn: 2829.2662715	total: 4.1s	remaining: 8.32s
99:	learn: 2828.5498232	total: 4.16s	remaining: 8.31s
100:	learn: 2827.2735054	total: 4.21s	remaining: 8.29s
101:	learn: 2826.0747402	total: 4.28s	remaining: 8.31s
102:	learn: 2825.6104151	total: 4.33s	remaining: 8.28s
103:	learn: 2825.1795368	total: 4.41s	remaining: 8.31s
104:	learn: 2822.3429710	total: 4.46s	remaining: 8.27s
105:	learn: 2819.5383314	total: 4.52s	remaining: 8.27s
106:	learn: 2817.0241703	total: 4.57s	remaining: 8.25s
107:	learn: 2816.1344672	total: 4.62s	remaining: 8.22s
108:	learn: 2813.9224931	total: 4.68s	remaining: 8.2s
109:	learn: 2813.0973062	total: 4.77s	remaining: 8.24s
110:	learn: 2812.2693667	total: 4.82s	remaining: 8.21s
111:	learn: 2810.2581933	total: 4.88s	remaining: 8.2s
112:	learn: 2809.5407510	total: 4.93s	remaining: 8.15s
113:	learn: 2808.8570575	total: 4.98s	remaining: 8.13s
114:	learn: 2808.2101559	total: 5.04s	remaining: 8.11s
115:	learn: 2807.9784834	total: 5.11s	remaining: 8.1s
116:	learn: 2806.2496249	total: 5.15s	remaining: 8.06s
117:	learn: 2804.6664587	total: 5.21s	remaining: 8.03s
118:	learn: 2804.4859233	total: 5.25s	remaining: 7.99s
119:	learn: 2803.0980969	total: 5.32s	remaining: 7.97s
120:	learn: 2802.5345002	total: 5.38s	remaining: 7.96s
121:	learn: 2801.3024940	total: 5.45s	remaining: 7.94s
122:	learn: 2801.1632469	total: 5.49s	remaining: 7.9s
123:	learn: 2800.0489916	total: 5.56s	remaining: 7.89s
124:	learn: 2799.0469290	total: 5.62s	remaining: 7.87s
125:	learn: 2798.9302062	total: 5.68s	remaining: 7.85s
126:	learn: 2798.1338909	total: 5.76s	remaining: 7.84s
127:	learn: 2797.2904822	total: 5.82s	remaining: 7.82s
128:	learn: 2796.5430855	total: 5.88s	remaining: 7.79s
129:	learn: 2795.8658133	total: 5.95s	remaining: 7.78s
130:	learn: 2795.3842421	total: 6.01s	remaining: 7.75s
131:	learn: 2794.7719094	total: 6.07s	remaining: 7.73s
132:	learn: 2794.2162335	total: 6.13s	remaining: 7.7s
133:	learn: 2793.7120960	total: 6.2s	remaining: 7.68s
134:	learn: 2793.5457156	total: 6.25s	remaining: 7.64s
135:	learn: 2793.0806242	total: 6.31s	remaining: 7.6s
136:	learn: 2792.6734630	total: 6.39s	remaining: 7.6s
137:	learn: 2792.6147767	total: 6.46s	remaining: 7.58s
138:	learn: 2792.2472127	total: 6.53s	remaining: 7.56s
139:	learn: 2791.8155111	total: 6.58s	remaining: 7.52s
140:	learn: 2791.4071797	total: 6.63s	remaining: 7.48s
141:	learn: 2791.1435908	total: 6.7s	remaining: 7.45s
142:	learn: 2790.8062908	total: 6.75s	remaining: 7.41s
143:	learn: 2790.4987473	total: 6.82s	remaining: 7.39s
144:	learn: 2790.1285522	total: 6.89s	remaining: 7.36s
145:	learn: 2789.8502686	total: 6.95s	remaining: 7.33s
146:	learn: 2789.4658406	total: 7.03s	remaining: 7.32s
147:	learn: 2789.2295545	total: 7.09s	remaining: 7.28s
148:	learn: 2789.0138899	total: 7.14s	remaining: 7.24s
149:	learn: 2788.8166966	total: 7.19s	remaining: 7.19s
150:	learn: 2788.6264389	total: 7.27s	remaining: 7.17s
151:	learn: 2788.4494636	total: 7.36s	remaining: 7.16s
152:	learn: 2788.3208361	total: 7.42s	remaining: 7.13s
153:	learn: 2787.9813445	total: 7.47s	remaining: 7.09s
154:	learn: 2787.8308728	total: 7.54s	remaining: 7.06s
155:	learn: 2787.5551517	total: 7.61s	remaining: 7.02s
156:	learn: 2787.4911666	total: 7.68s	remaining: 6.99s
157:	learn: 2786.9454955	total: 7.75s	remaining: 6.97s
158:	learn: 2786.8932866	total: 7.83s	remaining: 6.94s
159:	learn: 2786.4095137	total: 7.91s	remaining: 6.92s
160:	learn: 2786.2898009	total: 8.01s	remaining: 6.92s
161:	learn: 2786.1798237	total: 8.14s	remaining: 6.93s
162:	learn: 2786.1393579	total: 8.2s	remaining: 6.89s
163:	learn: 2785.8685876	total: 8.28s	remaining: 6.87s
164:	learn: 2785.7699994	total: 8.34s	remaining: 6.83s
165:	learn: 2785.5147047	total: 8.43s	remaining: 6.81s
166:	learn: 2785.0953468	total: 8.54s	remaining: 6.8s
167:	learn: 2785.0612957	total: 8.6s	remaining: 6.75s
168:	learn: 2784.7953097	total: 8.65s	remaining: 6.71s
169:	learn: 2784.5740678	total: 8.74s	remaining: 6.69s
170:	learn: 2784.5009372	total: 8.83s	remaining: 6.66s
171:	learn: 2784.4320079	total: 8.92s	remaining: 6.64s
172:	learn: 2784.3632252	total: 8.98s	remaining: 6.59s
173:	learn: 2784.3391428	total: 9.03s	remaining: 6.54s
174:	learn: 2784.2812308	total: 9.1s	remaining: 6.5s
175:	learn: 2784.2233996	total: 9.19s	remaining: 6.47s
176:	learn: 2784.1751247	total: 9.26s	remaining: 6.44s
177:	learn: 2783.7679615	total: 9.34s	remaining: 6.4s
178:	learn: 2783.5878391	total: 9.38s	remaining: 6.34s
179:	learn: 2783.2123908	total: 9.44s	remaining: 6.29s
180:	learn: 2783.1682972	total: 9.52s	remaining: 6.26s
181:	learn: 2782.8138398	total: 9.58s	remaining: 6.21s
182:	learn: 2782.7686329	total: 9.63s	remaining: 6.16s
183:	learn: 2782.4341774	total: 9.7s	remaining: 6.11s
184:	learn: 2782.4206879	total: 9.74s	remaining: 6.06s
185:	learn: 2782.1051310	total: 9.83s	remaining: 6.02s
186:	learn: 2782.0682123	total: 9.91s	remaining: 5.99s
187:	learn: 2782.0378362	total: 9.97s	remaining: 5.94s
188:	learn: 2781.9011474	total: 10s	remaining: 5.9s
189:	learn: 2781.7351251	total: 10.1s	remaining: 5.85s
190:	learn: 2781.7238580	total: 10.2s	remaining: 5.81s
191:	learn: 2781.6891494	total: 10.3s	remaining: 5.79s
192:	learn: 2781.6591503	total: 10.3s	remaining: 5.74s
193:	learn: 2781.6362838	total: 10.4s	remaining: 5.67s
194:	learn: 2781.6063150	total: 10.5s	remaining: 5.63s
195:	learn: 2781.4496198	total: 10.6s	remaining: 5.61s
196:	learn: 2781.3014293	total: 10.6s	remaining: 5.57s
197:	learn: 2781.1607678	total: 10.7s	remaining: 5.5s
198:	learn: 2781.0270798	total: 10.7s	remaining: 5.45s
199:	learn: 2781.0055825	total: 10.8s	remaining: 5.39s
200:	learn: 2780.7545916	total: 10.8s	remaining: 5.34s
201:	learn: 2780.7411928	total: 10.9s	remaining: 5.29s
202:	learn: 2780.6338766	total: 11s	remaining: 5.26s
203:	learn: 2780.5337595	total: 11.1s	remaining: 5.21s
204:	learn: 2780.5107600	total: 11.1s	remaining: 5.16s
205:	learn: 2780.3902306	total: 11.2s	remaining: 5.11s
206:	learn: 2780.3837113	total: 11.3s	remaining: 5.09s
207:	learn: 2780.3628090	total: 11.4s	remaining: 5.04s
208:	learn: 2778.6839528	total: 11.5s	remaining: 4.99s
209:	learn: 2777.1902406	total: 11.5s	remaining: 4.93s
210:	learn: 2777.0756801	total: 11.6s	remaining: 4.88s
211:	learn: 2777.0478939	total: 11.7s	remaining: 4.84s
212:	learn: 2776.9473344	total: 11.7s	remaining: 4.8s
213:	learn: 2775.6092294	total: 11.8s	remaining: 4.74s
214:	learn: 2775.4958303	total: 11.8s	remaining: 4.68s
215:	learn: 2775.3117438	total: 11.9s	remaining: 4.63s
216:	learn: 2775.3098171	total: 12s	remaining: 4.58s
217:	learn: 2775.2233137	total: 12.1s	remaining: 4.53s
218:	learn: 2775.1937467	total: 12.1s	remaining: 4.48s
219:	learn: 2775.1653641	total: 12.2s	remaining: 4.42s
220:	learn: 2775.0687559	total: 12.2s	remaining: 4.37s
221:	learn: 2775.0647729	total: 12.3s	remaining: 4.32s
222:	learn: 2773.8617031	total: 12.3s	remaining: 4.26s
223:	learn: 2773.7591754	total: 12.4s	remaining: 4.21s
224:	learn: 2772.6893357	total: 12.5s	remaining: 4.16s
225:	learn: 2771.6620113	total: 12.6s	remaining: 4.11s
226:	learn: 2771.5665165	total: 12.6s	remaining: 4.06s
227:	learn: 2770.7151429	total: 12.7s	remaining: 4.01s
228:	learn: 2770.6181949	total: 12.8s	remaining: 3.96s
229:	learn: 2770.5750810	total: 12.8s	remaining: 3.9s
230:	learn: 2769.8127634	total: 12.9s	remaining: 3.85s
231:	learn: 2769.1346998	total: 13s	remaining: 3.81s
232:	learn: 2769.0840076	total: 13.1s	remaining: 3.76s
233:	learn: 2768.4756832	total: 13.1s	remaining: 3.7s
234:	learn: 2768.4127499	total: 13.2s	remaining: 3.65s
235:	learn: 2768.3601270	total: 13.2s	remaining: 3.59s
236:	learn: 2767.8140962	total: 13.3s	remaining: 3.54s
237:	learn: 2767.7592178	total: 13.4s	remaining: 3.48s
238:	learn: 2767.7080208	total: 13.4s	remaining: 3.43s
239:	learn: 2767.2125039	total: 13.5s	remaining: 3.37s
240:	learn: 2766.7719042	total: 13.5s	remaining: 3.31s
241:	learn: 2766.7693766	total: 13.7s	remaining: 3.28s
242:	learn: 2766.7301025	total: 13.8s	remaining: 3.23s
243:	learn: 2766.6756438	total: 13.8s	remaining: 3.17s
244:	learn: 2766.5725304	total: 13.9s	remaining: 3.11s
245:	learn: 2766.1693458	total: 13.9s	remaining: 3.06s
246:	learn: 2766.0687820	total: 14s	remaining: 3s
247:	learn: 2765.7066549	total: 14.1s	remaining: 2.96s
248:	learn: 2765.3844936	total: 14.2s	remaining: 2.91s
249:	learn: 2765.3256929	total: 14.3s	remaining: 2.86s
250:	learn: 2765.2731616	total: 14.4s	remaining: 2.8s
251:	learn: 2765.2181011	total: 14.4s	remaining: 2.75s
252:	learn: 2765.1676280	total: 14.5s	remaining: 2.69s
253:	learn: 2765.1239863	total: 14.6s	remaining: 2.64s
254:	learn: 2765.1219665	total: 14.6s	remaining: 2.58s
255:	learn: 2765.0313589	total: 14.7s	remaining: 2.53s
256:	learn: 2764.9377855	total: 14.8s	remaining: 2.47s
257:	learn: 2764.6365414	total: 14.8s	remaining: 2.41s
258:	learn: 2764.5531038	total: 14.9s	remaining: 2.36s
259:	learn: 2764.2815546	total: 15s	remaining: 2.3s
260:	learn: 2764.2313740	total: 15s	remaining: 2.24s
261:	learn: 2764.2299869	total: 15.1s	remaining: 2.18s
262:	learn: 2764.2014410	total: 15.1s	remaining: 2.12s
263:	learn: 2763.9543149	total: 15.1s	remaining: 2.06s
264:	learn: 2763.9135559	total: 15.2s	remaining: 2s
265:	learn: 2763.9130334	total: 15.2s	remaining: 1.94s
266:	learn: 2763.8349103	total: 15.2s	remaining: 1.88s
267:	learn: 2763.7605212	total: 15.3s	remaining: 1.82s
268:	learn: 2763.7167249	total: 15.3s	remaining: 1.77s
269:	learn: 2763.6755514	total: 15.4s	remaining: 1.71s
270:	learn: 2763.6373163	total: 15.5s	remaining: 1.65s
271:	learn: 2763.6014389	total: 15.5s	remaining: 1.6s
272:	learn: 2763.5677928	total: 15.6s	remaining: 1.54s
273:	learn: 2763.5266888	total: 15.7s	remaining: 1.49s
274:	learn: 2763.4943607	total: 15.8s	remaining: 1.43s
275:	learn: 2763.2512447	total: 15.9s	remaining: 1.38s
276:	learn: 2763.2490868	total: 15.9s	remaining: 1.32s
277:	learn: 2763.1804144	total: 16s	remaining: 1.26s
278:	learn: 2763.1495030	total: 16s	remaining: 1.21s
279:	learn: 2763.1472880	total: 16.1s	remaining: 1.15s
280:	learn: 2763.1184468	total: 16.2s	remaining: 1.09s
281:	learn: 2763.0658390	total: 16.2s	remaining: 1.04s
282:	learn: 2763.0092394	total: 16.3s	remaining: 981ms
283:	learn: 2762.9268738	total: 16.4s	remaining: 926ms
284:	learn: 2762.9023065	total: 16.5s	remaining: 868ms
285:	learn: 2762.8794759	total: 16.5s	remaining: 810ms
286:	learn: 2762.8398254	total: 16.6s	remaining: 753ms
287:	learn: 2762.8377897	total: 16.8s	remaining: 699ms
288:	learn: 2762.7953918	total: 16.9s	remaining: 642ms
289:	learn: 2762.7750791	total: 16.9s	remaining: 583ms
290:	learn: 2762.6968342	total: 16.9s	remaining: 524ms
291:	learn: 2762.6792325	total: 17s	remaining: 465ms
292:	learn: 2762.6605655	total: 17s	remaining: 407ms
293:	learn: 2762.6585958	total: 17.1s	remaining: 349ms
294:	learn: 2762.6568534	total: 17.2s	remaining: 291ms
295:	learn: 2762.5824353	total: 17.2s	remaining: 233ms
296:	learn: 2762.5646649	total: 17.3s	remaining: 175ms
297:	learn: 2762.3230078	total: 17.4s	remaining: 117ms
298:	learn: 2762.3042866	total: 17.4s	remaining: 58.4ms
299:	learn: 2762.2868803	total: 17.5s	remaining: 0us